In [1]:
from tkinter.tix import Tree
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import numpy as np
from io import BytesIO
engine = create_engine("sqlite:///Celeb_DB_v1.db", echo=True)
import io



from sqlalchemy import Column, ForeignKey, Integer, String, BLOB, LargeBinary
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base


import cv2 
import face_recognition
import os

In [4]:
Session = sessionmaker(bind=engine)
session = Session()


Base = declarative_base()

## for creating images table
class Images(Base):
    __tablename__ = "images"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
## for creating faces table
class Faces(Base):
    __tablename__ = "faces"
    id = Column(Integer, primary_key=True)
    image_id = Column(Integer)
    faces = Column(LargeBinary)
    person_id = Column(Integer)
    locations = Column(LargeBinary)

# crearing database
Base.metadata.create_all(engine)


# for entering a value in images table
def create_image(name):
    user = Images(name=name)
    session.add(user)
    session.commit()    

    #print("Image id is: ", user.id)
    return user.id

# for entering a value in faces table
def create_face(image_id, faces, person_id,locations):
    faces = Faces(image_id=image_id, faces=faces, person_id=person_id,locations=locations)
    session.add(faces)
    session.commit()    

    #print("Face id is: ", faces.id)
    return faces.id

# for coverting blob back to np array
def convert_array(text):
    return np.load(BytesIO(text), allow_pickle=True)


# find number of unique faces 
def Unique():
    U=[]
    for face in session.query(Faces).all():
        
        if face.person_id not in U:
            
            U.append(face.person_id)
        
    return len(U)


# generate list of images name with same person in it
def same_faces(Person_Ids):
    
    Same={}
    
    for id in Person_Ids:
        List=[]
        for face in session.query(Faces).filter(Faces.person_id==id):
            
            for img in session.query(Images).filter(Images.id==face.image_id):

                List.append(img.name)

                break



        #print(len(List))
        #print(List)

        Same.update({id:List})

    return Same 


# most frequent element in list
def most_frequent(List):
    return max(set(List), key = List.count)


# add to database using media pipe detector and dlib feature extractor for recognition
def ADD_FACE_dlib(file,path,show_list):
        
    Path=path+"/"+file 

    known_image = cv2.imread(Path)

    if known_image is None:

        print(file+ " Image Not Found")
        
    else:

        known_image = cv2.cvtColor(known_image, cv2.COLOR_BGR2RGB)

        size=np.shape(known_image)

        image_id=create_image(file)

        if (size[0]>1500 or size[1]>1500):
            known_image = cv2.resize(known_image, (0, 0), fx=0.25, fy=0.25)
        elif (size[0]>1000 or size[1]>1000):
            known_image = cv2.resize(known_image, (0, 0), fx=0.5, fy=0.5)
        elif (size[0]>750 and size[1]>750):
            known_image = cv2.resize(known_image, (0, 0), fx=0.75, fy=0.75)
            
        #locations = face_recognition.face_locations(known_image,0,model='cnn')

        locations = [face_recognition.api._trim_css_to_bounds(face_recognition.api._rect_to_css(face.rect), known_image.shape) for face in face_recognition.api._raw_face_locations(known_image, 1, "cnn") if face.confidence >0.9]
        
        if len(locations)==0:

            print("Face Not Found in "+file)

            #create_face(image_id, None, 0)

        else:
            
            #locations=face_locations_mp(results,known_image)

            encodings = face_recognition.face_encodings(known_image,locations,num_jitters=100)
            
            #start_time=time.time()

            for E,L in zip(encodings,locations):

                np_bytes = io.BytesIO()
                
                np_bytes_1 = io.BytesIO()

                np.save(np_bytes, E, allow_pickle=True)
                
                np.save(np_bytes_1, L, allow_pickle=True)

                c=0

                if len(session.query(Faces).all())==0:

                    print("Database is Empty... Creating First Entry")

                    create_face(image_id, np_bytes.getvalue(), 1,np_bytes_1.getvalue())

                    continue

                Matched={}
                
                End=False
                
                for face in session.query(Faces).all():

                    results= face_recognition.compare_faces([E],convert_array(face.faces) ,tolerance=0.5)

                    if results[0]==True:
                        
                        if face.person_id in Matched.keys():
                            
                            Matched[face.person_id]+=1
                            
                        else:
                        
                            Matched.update({face.person_id:1})
                    
                    for key in Matched:
                        
                        if Matched[key]>2:
                        
                            End=True
                            
                            break
                    
                    if End==True:
                        
                        break
                        
                #print(Matched)
                                       
                if len(Matched)==0:

                    P_id=Unique()+1

                    create_face(image_id, np_bytes.getvalue(), P_id,np_bytes_1.getvalue())

                    if show_list:

                        print(same_faces([P_id]))

                else:
                    
                    n=0
                    
                    for key in Matched:
                        
                        if Matched[key]>2:

                            P_id=key

                            create_face(image_id, np_bytes.getvalue(), P_id,np_bytes_1.getvalue())
                            
                            if show_list:

                                print(same_faces([P_id]))
                                
                            break
                                
                        else:
                                
                            n+=1
                                
                            
                    Max=-1
                                
                    if n==len(Matched):
                        
                        for key in Matched:
                            
                            if Matched[key]>Max:
                                
                                Max=key
                                
                                
                        if len(same_faces([Max])[Max])<4 and Matched[Max]==1:
                        
                        
                            P_id=Max

                            create_face(image_id, np_bytes.getvalue(), P_id,np_bytes_1.getvalue())
                        
                        elif len(same_faces([Max])[Max])<6 and Matched[Max]>1:
                            
                            P_id=Max
                            
                            create_face(image_id, np_bytes.getvalue(), P_id,np_bytes_1.getvalue())
                        
                        else:
                            
                            P_id=Unique()+1
                            
                            create_face(image_id, np_bytes.getvalue(), P_id,np_bytes_1.getvalue())
                            
                            
                        if show_list:

                            print(same_faces([P_id]))
                        
                            
            #print("--- %s seconds ---" % (time.time() - start_time))

2022-06-03 11:42:52,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:42:52,979 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("images")
2022-06-03 11:42:52,980 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-06-03 11:42:52,981 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("faces")
2022-06-03 11:42:52,982 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-06-03 11:42:52,983 INFO sqlalchemy.engine.Engine COMMIT

# List of Files in a Folder

In [5]:
Files=[]
import os
for file in os.listdir("Data"):
    #print(os.path.join("/mydir", file))
    Files.append(file)
    
len(Files)

100

# Add full List of Images in Database

In [6]:
import time 

start_time=time.time()

for file in Files:
    ADD_FACE_dlib(file,"Data",False)
    
print("--- %s seconds ---" % (time.time() - start_time))

2022-06-03 11:42:59,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:42:59,996 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:42:59,997 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ('Aaron0.jpg',)
2022-06-03 11:42:59,999 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:00,130 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:00,133 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:00,134 INFO sqlalchemy.engine.Engine [generated in 0.00106s] (1,)
2022-06-03 11:43:02,244 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:02,245 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ()
Database is Empty... Creating First Entry
2022-06-03 11:43:02,247 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:02,247 INFO sqlalchemy.engine.Engine [generated in 0.00041s] (1, <memory at 0x0000024CF98FE108>, 1, <memory at 0x0000024CF98FE408>)
2022-06-03 11:43:02,249 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:02,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:02,404 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:02,407 INFO sqlalchemy.engine.Engine [generated in 0.00330s] (1,)
2022-06-03 11:43:02,425 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:02,425 INFO sqlalchemy.engine.Engine [cached since 2.428s ago] ('Aaron10.jpg',)
2022-06-03 11:43:02,427 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:02,559 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:02,559 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:02,560 INFO sqlalchemy.engine.Engine [cached since 2.427s ago] (2,)
2022-06-03 11:43:02,879 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:02,880 INFO sqlalchemy.engine.Engine [cached since 0.6356s ago] ()
2022-06-03 11:43:02,881 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:02,882 INFO sqlalchemy.engine.Engine [cached since 0.6376s ago] ()
2022-06-03 11:43:02,885 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:02,886 INFO sqlalchemy.engine.Engine [generated in 0.00084s] (1,)
2022-06-03 11:43:02,887 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:02,888 INFO sqlalchemy.engine.Engine [generated in 0.00078s] (1,)
2022-06-03 11:43:02,889 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:02,889 INFO sqlalchemy.engine.Engine [cached since 0.6426s ago] (2, <memory at 0x0000024CF98FE4C8>, 1, <memory at 0x0000024CF98FE588>)
2022-06-03 11:43:02,891 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:03,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:03,034 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:03,036 INFO sqlalchemy.engine.Engine [cached since 0.6332s ago] (2,)
2022-06-03 11:43:03,048 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:03,049 INFO sqlalchemy.engine.Engine [cached since 3.053s ago] ('Aaron12.jpg',)
2022-06-03 11:43:03,052 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:03,189 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:03,192 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:03,194 INFO sqlalchemy.engine.Engine [cached since 3.061s ago] (3,)
2022-06-03 11:43:03,463 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:03,463 INFO sqlalchemy.engine.Engine [cached since 1.219s ago] ()
2022-06-03 11:43:03,464 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:03,465 INFO sqlalchemy.engine.Engine [cached since 1.221s ago] ()
2022-06-03 11:43:03,467 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:03,467 INFO sqlalchemy.engine.Engine [cached since 0.5832s ago] (1,)
2022-06-03 11:43:03,469 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:03,470 INFO sqlalchemy.engine.Engine [cached since 0.5831s ago] (1,)
2022-06-03 11:43:03,471 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:03,472 INFO sqlalchemy.engine.Engine [cached since 0.5854s ago] (2,)
2022-06-03 11:43:03,473 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:03,473 INFO sqlalchemy.engine.Engine [cached since 0.5892s ago] (1,)
2022-06-03 11:43:03,475 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:03,475 INFO sqlalchemy.engine.Engine [cached since 0.5885s ago] (1,)
2022-06-03 11:43:03,477 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:03,477 INFO sqlalchemy.engine.Engine [cached since 0.5903s ago] (2,)
2022-06-03 11:43:03,478 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:03,479 INFO sqlalchemy.engine.Engine [cached since 1.232s ago] (3, <memory at 0x0000024CF98FE108>, 1, <memory at 0x0000024CF98FE588>)
2022-06-03 11:43:03,480 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:03,626 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:03,626 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:03,627 INFO sqlalchemy.engine.Engine [cached since 1.224s ago] (3,)
2022-06-03 11:43:03,634 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:03,635 INFO sqlalchemy.engine.Engine [cached since 3.638s ago] ('Aaron13.jpg',)
2022-06-03 11:43:03,636 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:03,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:03,779 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:43:03,779 INFO sqlalchemy.engine.Engine [cached since 3.646s ago] (4,)
2022-06-03 11:43:04,043 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:04,043 INFO sqlalchemy.engine.Engine [cached since 1.799s ago] ()
2022-06-03 11:43:04,044 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:04,045 INFO sqlalchemy.engine.Engine [cached since 1.801s ago] ()
2022-06-03 11:43:04,047 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:04,048 INFO sqlalchemy.engine.Engine [cached since 1.801s ago] (4, <memory at 0x0000024CF98FE4C8>, 1, <memory at 0x0000024CF98FE108>)
2022-06-03 11:43:04,049 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:04,195 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:04,195 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:04,196 INFO sqlalchemy.engine.Engine [cached since 1.793s ago] (4,)
2022-06-03 11:43:04,214 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:04,214 INFO sqlalchemy.engine.Engine [cached since 4.218s ago] ('Aaron3.jpg',)
2022-06-03 11:43:04,216 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:04,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:04,350 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:04,351 INFO sqlalchemy.engine.Engine [cached since 4.218s ago] (5,)
2022-06-03 11:43:04,713 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:04,713 INFO sqlalchemy.engine.Engine [cached since 2.469s ago] ()
2022-06-03 11:43:04,714 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:04,715 INFO sqlalchemy.engine.Engine [cached since 2.471s ago] ()
2022-06-03 11:43:04,717 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:04,717 INFO sqlalchemy.engine.Engine [cached since 2.471s ago] (5, <memory at 0x0000024CF98FE588>, 1, <memory at 0x0000024CF98FE4C8>)
2022-06-03 11:43:04,719 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:04,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:04,852 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:04,852 INFO sqlalchemy.engine.Engine [cached since 2.449s ago] (5,)
2022-06-03 11:43:04,868 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:04,869 INFO sqlalchemy.engine.Engine [cached since 4.872s ago] ('Aaron4.jpg',)
2022-06-03 11:43:04,870 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:05,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:05,017 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:05,019 INFO sqlalchemy.engine.Engine [cached since 4.886s ago] (6,)
2022-06-03 11:43:05,413 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:05,413 INFO sqlalchemy.engine.Engine [cached since 3.169s ago] ()
2022-06-03 11:43:05,415 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:05,415 INFO sqlalchemy.engine.Engine [cached since 3.171s ago] ()
2022-06-03 11:43:05,417 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:05,417 INFO sqlalchemy.engine.Engine [cached since 3.171s ago] (6, <memory at 0x0000024CF98FE108>, 1, <memory at 0x0000024CF98FE588>)
2022-06-03 11:43:05,419 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:05,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:05,555 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:05,556 INFO sqlalchemy.engine.Engine [cached since 3.152s ago] (6,)
2022-06-03 11:43:05,578 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:05,578 INFO sqlalchemy.engine.Engine [cached since 5.582s ago] ('Aaron6.jpg',)
2022-06-03 11:43:05,579 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:05,717 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:05,717 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:05,718 INFO sqlalchemy.engine.Engine [cached since 5.585s ago] (7,)
2022-06-03 11:43:06,145 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:06,145 INFO sqlalchemy.engine.Engine [cached since 3.901s ago] ()
2022-06-03 11:43:06,146 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:06,147 INFO sqlalchemy.engine.Engine [cached since 3.903s ago] ()
2022-06-03 11:43:06,149 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:06,149 INFO sqlalchemy.engine.Engine [cached since 3.903s ago] (7, <memory at 0x0000024CF98FE4C8>, 1, <memory at 0x0000024CF98FE108>)
2022-06-03 11:43:06,151 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:06,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:06,295 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:06,295 INFO sqlalchemy.engine.Engine [cached since 3.892s ago] (7,)
2022-06-03 11:43:06,307 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:06,308 INFO sqlalchemy.engine.Engine [cached since 6.311s ago] ('Aaron7.jpg',)
2022-06-03 11:43:06,309 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:06,450 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:06,451 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:06,452 INFO sqlalchemy.engine.Engine [cached since 6.319s ago] (8,)
2022-06-03 11:43:06,735 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:06,736 INFO sqlalchemy.engine.Engine [cached since 4.491s ago] ()
2022-06-03 11:43:06,737 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces

2022-06-03 11:43:06,737 INFO sqlalchemy.engine.Engine [cached since 4.494s ago] ()
2022-06-03 11:43:06,739 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:06,740 INFO sqlalchemy.engine.Engine [cached since 4.494s ago] (8, <memory at 0x0000024CF98FE588>, 1, <memory at 0x0000024CF98FE4C8>)
2022-06-03 11:43:06,741 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:06,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:06,867 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:06,867 INFO sqlalchemy.engine.Engine [cached since 4.464s ago] (8,)
2022-06-03 11:43:06,869 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:06,870 INFO sqlalchemy.engine.Engine [cached since 6.873s ago] ('Aaron8.jpg',)
2022-06-03 11:43:06,871 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:07,022 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:07,025 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:07,027 INFO sqlalchemy.engine.Engine [cached since 6.894s ago] (9,)
2022-06-03 11:43:07,313 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:07,314 INFO sqlalchemy.engine.Engine [cached since 5.069s ago] ()
2022-06-03 11:43:07,315 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:07,315 INFO sqlalchemy.engine.Engine [cached since 5.07s ago] ()
2022-06-03 11:43:07,317 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:07,318 INFO sqlalchemy.engine.Engine [cached since 5.071s ago] (9, <memory at 0x0000024CF98FE108>, 1, <memory at 0x0000024CF98FE588>)
2022-06-03 11:43:07,319 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:07,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:07,448 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:07,448 INFO sqlalchemy.engine.Engine [cached since 5.045s ago] (9,)
2022-06-03 11:43:07,463 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:07,464 INFO sqlalchemy.engine.Engine [cached since 7.468s ago] ('Aaron9.jpg',)
2022-06-03 11:43:07,466 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:07,609 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:07,610 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:07,611 INFO sqlalchemy.engine.Engine [cached since 7.477s ago] (10,)
2022-06-03 11:43:08,073 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:08,074 INFO sqlalchemy.engine.Engine [cached since 5.829s ago] ()
2022-06-03 11:43:08,075 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:08,075 INFO sqlalchemy.engine.Engine [cached since 5.831s ago] ()
2022-06-03 11:43:08,078 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:08,079 INFO sqlalchemy.engine.Engine [cached since 5.194s ago] (1,)
2022-06-03 11:43:08,080 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,080 INFO sqlalchemy.engine.Engine [cached since 5.193s ago] (1,)
2022-06-03 11:43:08,081 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,082 INFO sqlalchemy.engine.Engine [cached since 5.195s ago] (2,)
2022-06-03 11:43:08,083 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,083 INFO sqlalchemy.engine.Engine [cached since 5.196s ago] (3,)
2022-06-03 11:43:08,085 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,085 INFO sqlalchemy.engine.Engine [cached since 5.198s ago] (4,)
2022-06-03 11:43:08,086 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,086 INFO sqlalchemy.engine.Engine [cached since 5.2s ago] (5,)
2022-06-03 11:43:08,087 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,088 INFO sqlalchemy.engine.Engine [cached since 5.201s ago] (6,)
2022-06-03 11:43:08,089 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,089 INFO sqlalchemy.engine.Engine [cached since 5.202s ago] (7,)
2022-06-03 11:43:08,090 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,090 INFO sqlalchemy.engine.Engine [cached since 5.204s ago] (8,)
2022-06-03 11:43:08,092 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,092 INFO sqlalchemy.engine.Engine [cached since 5.206s ago] (9,)
2022-06-03 11:43:08,093 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:08,094 INFO sqlalchemy.engine.Engine [cached since 5.209s ago] (1,)
2022-06-03 11:43:08,095 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,095 INFO sqlalchemy.engine.Engine [cached since 5.208s ago] (1,)
2022-06-03 11:43:08,096 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,096 INFO sqlalchemy.engine.Engine [cached since 5.209s ago] (2,)
2022-06-03 11:43:08,097 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,098 INFO sqlalchemy.engine.Engine [cached since 5.211s ago] (3,)
2022-06-03 11:43:08,099 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,100 INFO sqlalchemy.engine.Engine [cached since 5.213s ago] (4,)
2022-06-03 11:43:08,101 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,101 INFO sqlalchemy.engine.Engine [cached since 5.214s ago] (5,)
2022-06-03 11:43:08,102 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,103 INFO sqlalchemy.engine.Engine [cached since 5.216s ago] (6,)
2022-06-03 11:43:08,104 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:43:08,104 INFO sqlalchemy.engine.Engine [cached since 5.217s ago] (7,)
2022-06-03 11:43:08,105 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,106 INFO sqlalchemy.engine.Engine [cached since 5.219s ago] (8,)
2022-06-03 11:43:08,107 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,107 INFO sqlalchemy.engine.Engine [cached since 5.22s ago] (9,)
2022-06-03 11:43:08,108 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:08,108 INFO sqlalchemy.engine.Engine [cached since 5.864s ago] ()
2022-06-03 11:43:08,109 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:08,110 INFO sqlalchemy.engine.Engine [cached since 5.863s ago] (10, <memory at 0x0000024CF98FE4C8>, 2, <memory at 0x0000024CF98FE108>)
2022-06-03 11:43:08,111 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:08,297 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:08,298 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:08,299 INFO sqlalchemy.engine.Engine [cached since 5.895s ago] (10,)
2022-06-03 11:43:08,313 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:08,314 INFO sqlalchemy.engine.Engine [cached since 8.317s ago] ('AaronTylor12.jpg',)
2022-06-03 11:43:08,316 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:08,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:08,455 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:08,456 INFO sqlalchemy.engine.Engine [cached since 8.323s ago] (11,)
2022-06-03 11:43:08,758 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:08,759 INFO sqlalchemy.engine.Engine [cached since 6.515s ago] ()
2022-06-03 11:43:08,760 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:08,761 INFO sqlalchemy.engine.Engine [cached since 6.516s ago] ()
2022-06-03 11:43:08,764 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:08,765 INFO sqlalchemy.engine.Engine [cached since 6.52s ago] ()
2022-06-03 11:43:08,766 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:08,766 INFO sqlalchemy.engine.Engine [cached since 6.52s ago] (11, <memory at 0x0000024CF98FEA08>, 3, <memory at 0x0000024CF98FE4C8>)
2022-06-03 11:43:08,768 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:08,905 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:08,906 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:08,907 INFO sqlalchemy.engine.Engine [cached since 6.504s ago] (11,)
2022-06-03 11:43:08,914 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:08,914 INFO sqlalchemy.engine.Engine [cached since 8.917s ago] ('AaronTylor13.jpg',)
2022-06-03 11:43:08,915 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:09,039 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:09,040 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:09,040 INFO sqlalchemy.engine.Engine [cached since 8.908s ago] (12,)
2022-06-03 11:43:09,324 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:09,324 INFO sqlalchemy.engine.Engine [cached since 7.08s ago] ()
2022-06-03 11:43:09,325 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:09,326 INFO sqlalchemy.engine.Engine [cached since 7.081s ago] ()
2022-06-03 11:43:09,329 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:09,330 INFO sqlalchemy.engine.Engine [cached since 7.085s ago] ()
2022-06-03 11:43:09,331 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:09,331 INFO sqlalchemy.engine.Engine [cached since 7.084s ago] (12, <memory at 0x0000024CF98FEAC8>, 4, <memory at 0x0000024CF98FEA08>)
2022-06-03 11:43:09,333 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:09,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:09,472 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:09,472 INFO sqlalchemy.engine.Engine [cached since 7.069s ago] (12,)
2022-06-03 11:43:09,475 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:09,476 INFO sqlalchemy.engine.Engine [cached since 9.48s ago] ('AaronTylor15.jpg',)
2022-06-03 11:43:09,477 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:09,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:09,620 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:09,620 INFO sqlalchemy.engine.Engine [cached since 9.487s ago] (13,)
2022-06-03 11:43:09,902 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:09,903 INFO sqlalchemy.engine.Engine [cached since 7.658s ago] ()
2022-06-03 11:43:09,904 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:09,905 INFO sqlalchemy.engine.Engine [cached since 7.66s ago] ()
2022-06-03 11:43:09,908 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:09,908 INFO sqlalchemy.engine.Engine [cached since 7.024s ago] (3,)
2022-06-03 11:43:09,909 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:09,910 INFO sqlalchemy.engine.Engine [cached since 7.023s ago] (11,)
2022-06-03 11:43:09,911 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:09,911 INFO sqlalchemy.engine.Engine [cached since 7.664s ago] (13, <memory at 0x0000024CF98FEB88>, 3, <memory at 0x0000024CF98FEAC8>)
2022-06-03 11:43:09,913 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:10,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2022-06-03 11:43:10,067 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:10,068 INFO sqlalchemy.engine.Engine [cached since 7.665s ago] (13,)
2022-06-03 11:43:10,074 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:10,075 INFO sqlalchemy.engine.Engine [cached since 10.08s ago] ('AaronTylor16.jpg',)
2022-06-03 11:43:10,076 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:10,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:10,217 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:10,219 INFO sqlalchemy.engine.Engine [cached since 10.09s ago] (14,)
2022-06-03 11:43:10,543 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:10,544 INFO sqlalchemy.engine.Engine [cached since 8.299s ago] ()
2022-06-03 11:43:10,545 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:10,546 INFO sqlalchemy.engine.Engine [cached since 8.301s ago] ()
2022-06-03 11:43:10,550 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:10,550 INFO sqlalchemy.engine.Engine [cached since 7.665s ago] (3,)
2022-06-03 11:43:10,551 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:10,552 INFO sqlalchemy.engine.Engine [cached since 7.665s ago] (11,)
2022-06-03 11:43:10,553 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:10,553 INFO sqlalchemy.engine.Engine [cached since 7.666s ago] (13,)
2022-06-03 11:43:10,554 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:10,555 INFO sqlalchemy.engine.Engine [cached since 7.67s ago] (3,)
2022-06-03 11:43:10,555 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:10,556 INFO sqlalchemy.engine.Engine [cached since 7.669s ago] (11,)
2022-06-03 11:43:10,557 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:10,558 INFO sqlalchemy.engine.Engine [cached since 7.671s ago] (13,)
2022-06-03 11:43:10,559 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:10,560 INFO sqlalchemy.engine.Engine [cached since 8.313s ago] (14, <memory at 0x0000024CF98FEC48>, 3, <memory at 0x0000024CF98FEB88>)
2022-06-03 11:43:10,561 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:10,692 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:10,692 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:10,693 INFO sqlalchemy.engine.Engine [cached since 8.29s ago] (14,)
2022-06-03 11:43:10,698 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:10,699 INFO sqlalchemy.engine.Engine [cached since 10.7s ago] ('AaronTylor19.jpg',)
2022-06-03 11:43:10,700 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:10,846 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:10,849 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:10,851 INFO sqlalchemy.engine.Engine [cached since 10.72s ago] (15,)
2022-06-03 11:43:11,162 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:11,163 INFO sqlalchemy.engine.Engine [cached since 8.918s ago] ()
2022-06-03 11:43:11,164 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:11,165 INFO sqlalchemy.engine.Engine [cached since 8.92s ago] ()
2022-06-03 11:43:11,169 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:11,169 INFO sqlalchemy.engine.Engine [cached since 8.284s ago] (3,)
2022-06-03 11:43:11,170 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,171 INFO sqlalchemy.engine.Engine [cached since 8.284s ago] (11,)
2022-06-03 11:43:11,172 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,173 INFO sqlalchemy.engine.Engine [cached since 8.285s ago] (13,)
2022-06-03 11:43:11,173 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,174 INFO sqlalchemy.engine.Engine [cached since 8.286s ago] (14,)
2022-06-03 11:43:11,175 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:11,175 INFO sqlalchemy.engine.Engine [cached since 8.29s ago] (3,)
2022-06-03 11:43:11,176 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,177 INFO sqlalchemy.engine.Engine [cached since 8.29s ago] (11,)
2022-06-03 11:43:11,178 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,178 INFO sqlalchemy.engine.Engine [cached since 8.291s ago] (13,)
2022-06-03 11:43:11,179 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,179 INFO sqlalchemy.engine.Engine [cached since 8.292s ago] (14,)
2022-06-03 11:43:11,180 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:11,180 INFO sqlalchemy.engine.Engine [cached since 8.933s ago] (15, <memory at 0x0000024CF98FED08>, 3, <memory at 0x0000024CF98FEC48>)
2022-06-03 11:43:11,182 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:11,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:11,326 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:11,327 INFO sqlalchemy.engine.Engine [cached since 8.924s ago] (15,)
2022-06-03 11:43:11,332 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:11,332 INFO sqlalchemy.engine.Engine [cached since 11.34s ago] ('AaronTylor21.jpg',)
2022-06-03 11:43:11,334 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:11,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:11,472 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:43:11,473 INFO sqlalchemy.engine.Engine [cached since 11.34s ago] (16,)
2022-06-03 11:43:11,757 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:11,758 INFO sqlalchemy.engine.Engine [cached since 9.514s ago] ()
2022-06-03 11:43:11,759 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:11,760 INFO sqlalchemy.engine.Engine [cached since 9.516s ago] ()
2022-06-03 11:43:11,764 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:11,765 INFO sqlalchemy.engine.Engine [cached since 8.881s ago] (3,)
2022-06-03 11:43:11,766 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,767 INFO sqlalchemy.engine.Engine [cached since 8.88s ago] (11,)
2022-06-03 11:43:11,768 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,768 INFO sqlalchemy.engine.Engine [cached since 8.882s ago] (13,)
2022-06-03 11:43:11,769 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,770 INFO sqlalchemy.engine.Engine [cached since 8.883s ago] (14,)
2022-06-03 11:43:11,771 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,771 INFO sqlalchemy.engine.Engine [cached since 8.885s ago] (15,)
2022-06-03 11:43:11,772 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:11,772 INFO sqlalchemy.engine.Engine [cached since 8.888s ago] (3,)
2022-06-03 11:43:11,773 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,774 INFO sqlalchemy.engine.Engine [cached since 8.888s ago] (11,)
2022-06-03 11:43:11,775 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,776 INFO sqlalchemy.engine.Engine [cached since 8.889s ago] (13,)
2022-06-03 11:43:11,777 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,777 INFO sqlalchemy.engine.Engine [cached since 8.891s ago] (14,)
2022-06-03 11:43:11,778 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:11,778 INFO sqlalchemy.engine.Engine [cached since 8.892s ago] (15,)
2022-06-03 11:43:11,779 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:11,780 INFO sqlalchemy.engine.Engine [cached since 9.536s ago] ()
2022-06-03 11:43:11,782 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:11,782 INFO sqlalchemy.engine.Engine [cached since 9.536s ago] (16, <memory at 0x0000024CF98FEDC8>, 5, <memory at 0x0000024CF98FED08>)
2022-06-03 11:43:11,784 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:11,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:11,935 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:11,935 INFO sqlalchemy.engine.Engine [cached since 9.532s ago] (16,)
2022-06-03 11:43:11,938 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:11,939 INFO sqlalchemy.engine.Engine [cached since 11.94s ago] ('AaronTylor22.jpg',)
2022-06-03 11:43:11,940 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:12,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:12,069 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:12,070 INFO sqlalchemy.engine.Engine [cached since 11.94s ago] (17,)
2022-06-03 11:43:12,337 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:12,338 INFO sqlalchemy.engine.Engine [cached since 10.09s ago] ()
2022-06-03 11:43:12,339 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:12,340 INFO sqlalchemy.engine.Engine [cached since 10.1s ago] ()
2022-06-03 11:43:12,344 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:12,344 INFO sqlalchemy.engine.Engine [cached since 10.1s ago] (17, <memory at 0x0000024CF98FEE88>, 3, <memory at 0x0000024CF98FEDC8>)
2022-06-03 11:43:12,345 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:12,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:12,484 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:12,485 INFO sqlalchemy.engine.Engine [cached since 10.08s ago] (17,)
2022-06-03 11:43:12,488 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:12,488 INFO sqlalchemy.engine.Engine [cached since 12.49s ago] ('AaronTylor24.jpg',)
2022-06-03 11:43:12,490 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:12,630 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:12,633 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:12,635 INFO sqlalchemy.engine.Engine [cached since 12.5s ago] (18,)
2022-06-03 11:43:12,909 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:12,909 INFO sqlalchemy.engine.Engine [cached since 10.66s ago] ()
2022-06-03 11:43:12,911 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:12,911 INFO sqlalchemy.engine.Engine [cached since 10.67s ago] ()
2022-06-03 11:43:12,916 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:12,916 INFO sqlalchemy.engine.Engine [cached since 10.67s ago] (18, <memory at 0x0000024CF98FE888>, 3, <memory at 0x0000024CF98FEE88>)
2022-06-03 11:43:12,918 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:13,053 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:13,056 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:13,058 INFO sqlalchemy.engine.Engine [cached since 10.65s ago] (18,)
2022-06-03 11:43:13,065 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)

2022-06-03 11:43:13,065 INFO sqlalchemy.engine.Engine [cached since 13.07s ago] ('AaronTylor25.jpg',)
2022-06-03 11:43:13,066 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:13,208 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:13,209 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:13,210 INFO sqlalchemy.engine.Engine [cached since 13.08s ago] (19,)
2022-06-03 11:43:13,479 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:13,480 INFO sqlalchemy.engine.Engine [cached since 11.24s ago] ()
2022-06-03 11:43:13,481 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:13,481 INFO sqlalchemy.engine.Engine [cached since 11.24s ago] ()
2022-06-03 11:43:13,486 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:13,486 INFO sqlalchemy.engine.Engine [cached since 11.24s ago] (19, <memory at 0x0000024CF98FE888>, 3, <memory at 0x0000024CF98FEE88>)
2022-06-03 11:43:13,487 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:13,625 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:13,625 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:13,626 INFO sqlalchemy.engine.Engine [cached since 11.22s ago] (19,)
2022-06-03 11:43:13,630 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:13,630 INFO sqlalchemy.engine.Engine [cached since 13.63s ago] ('AaronTylor26.jpg',)
2022-06-03 11:43:13,632 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:13,754 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:13,755 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:13,755 INFO sqlalchemy.engine.Engine [cached since 13.62s ago] (20,)
2022-06-03 11:43:14,026 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:14,026 INFO sqlalchemy.engine.Engine [cached since 11.78s ago] ()
2022-06-03 11:43:14,028 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:14,028 INFO sqlalchemy.engine.Engine [cached since 11.78s ago] ()
2022-06-03 11:43:14,032 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:14,033 INFO sqlalchemy.engine.Engine [cached since 11.79s ago] (20, <memory at 0x0000024CF98FE948>, 3, <memory at 0x0000024CF98FE888>)
2022-06-03 11:43:14,034 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:14,167 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:14,168 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:14,168 INFO sqlalchemy.engine.Engine [cached since 11.76s ago] (20,)
2022-06-03 11:43:14,197 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:14,197 INFO sqlalchemy.engine.Engine [cached since 14.2s ago] ('Abigail1.jpg',)
2022-06-03 11:43:14,198 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:14,331 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:14,333 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:14,335 INFO sqlalchemy.engine.Engine [cached since 14.2s ago] (21,)
2022-06-03 11:43:14,633 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:14,633 INFO sqlalchemy.engine.Engine [cached since 12.39s ago] ()
2022-06-03 11:43:14,634 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:14,635 INFO sqlalchemy.engine.Engine [cached since 12.39s ago] ()
2022-06-03 11:43:14,640 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:14,640 INFO sqlalchemy.engine.Engine [cached since 12.4s ago] ()
2022-06-03 11:43:14,642 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:14,642 INFO sqlalchemy.engine.Engine [cached since 12.4s ago] (21, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:14,654 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:14,803 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:14,804 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:14,805 INFO sqlalchemy.engine.Engine [cached since 12.4s ago] (21,)
2022-06-03 11:43:14,890 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:14,890 INFO sqlalchemy.engine.Engine [cached since 14.89s ago] ('Abigail10.jpg',)
2022-06-03 11:43:14,892 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:15,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:15,017 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:15,018 INFO sqlalchemy.engine.Engine [cached since 14.89s ago] (22,)
2022-06-03 11:43:15,339 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:15,339 INFO sqlalchemy.engine.Engine [cached since 13.1s ago] ()
2022-06-03 11:43:15,341 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:15,341 INFO sqlalchemy.engine.Engine [cached since 13.1s ago] ()
2022-06-03 11:43:15,347 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:15,347 INFO sqlalchemy.engine.Engine [cached since 12.46s ago] (6,)
2022-06-03 11:43:15,348 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:15,349 INFO sqlalchemy.engine.Engine [cached since 12.46s ago] (21,)
2022-06-03 11:43:15,350 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:15,350 INFO sqlalchemy.engine.Engine [cached since 13.1s ago] (22, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:15,351 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:15,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:15,508 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?

2022-06-03 11:43:15,510 INFO sqlalchemy.engine.Engine [cached since 13.11s ago] (22,)
2022-06-03 11:43:15,533 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:15,535 INFO sqlalchemy.engine.Engine [cached since 15.54s ago] ('Abigail11.jpg',)
2022-06-03 11:43:15,536 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:15,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:15,675 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:15,676 INFO sqlalchemy.engine.Engine [cached since 15.54s ago] (23,)
2022-06-03 11:43:15,970 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:15,971 INFO sqlalchemy.engine.Engine [cached since 13.73s ago] ()
2022-06-03 11:43:15,972 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:15,973 INFO sqlalchemy.engine.Engine [cached since 13.73s ago] ()
2022-06-03 11:43:15,978 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:15,979 INFO sqlalchemy.engine.Engine [cached since 13.09s ago] (6,)
2022-06-03 11:43:15,981 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:15,981 INFO sqlalchemy.engine.Engine [cached since 13.09s ago] (21,)
2022-06-03 11:43:15,982 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:15,983 INFO sqlalchemy.engine.Engine [cached since 13.1s ago] (22,)
2022-06-03 11:43:15,984 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:15,984 INFO sqlalchemy.engine.Engine [cached since 13.74s ago] (23, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:15,985 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:16,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:16,112 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:16,113 INFO sqlalchemy.engine.Engine [cached since 13.71s ago] (23,)
2022-06-03 11:43:16,165 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:16,166 INFO sqlalchemy.engine.Engine [cached since 16.17s ago] ('Abigail13.jpg',)
2022-06-03 11:43:16,167 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:16,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:16,323 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:16,324 INFO sqlalchemy.engine.Engine [cached since 16.19s ago] (24,)
2022-06-03 11:43:16,607 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:16,608 INFO sqlalchemy.engine.Engine [cached since 14.36s ago] ()
2022-06-03 11:43:16,609 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:16,609 INFO sqlalchemy.engine.Engine [cached since 14.36s ago] ()
2022-06-03 11:43:16,615 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:16,615 INFO sqlalchemy.engine.Engine [cached since 14.37s ago] (24, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:16,617 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:16,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:16,750 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:16,750 INFO sqlalchemy.engine.Engine [cached since 14.35s ago] (24,)
2022-06-03 11:43:16,754 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:16,754 INFO sqlalchemy.engine.Engine [cached since 16.76s ago] ('Abigail3.jpg',)
2022-06-03 11:43:16,756 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:16,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:16,887 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:16,888 INFO sqlalchemy.engine.Engine [cached since 16.75s ago] (25,)
2022-06-03 11:43:17,165 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:17,166 INFO sqlalchemy.engine.Engine [cached since 14.92s ago] ()
2022-06-03 11:43:17,167 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:17,167 INFO sqlalchemy.engine.Engine [cached since 14.92s ago] ()
2022-06-03 11:43:17,173 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:17,174 INFO sqlalchemy.engine.Engine [cached since 14.93s ago] (25, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:17,175 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:17,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:17,315 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:17,316 INFO sqlalchemy.engine.Engine [cached since 14.91s ago] (25,)
2022-06-03 11:43:17,340 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:17,340 INFO sqlalchemy.engine.Engine [cached since 17.34s ago] ('Abigail4.jpg',)
2022-06-03 11:43:17,342 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:17,474 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:17,475 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:17,476 INFO sqlalchemy.engine.Engine [cached since 17.34s ago] (26,)
2022-06-03 11:43:17,747 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:17,747 INFO sqlalchemy.engine.Engine [cached since 15.5s ago] ()
2022-06-03 11:43:17,749 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:17,750 INFO sqlalchemy.engine.Engine [cached since 15.51s ago] ()
2022-06-03 11:43:17,756 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:17,757 INFO sqlalchemy.engine.Engine [cached since 15.51s ago] (26, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:17,758 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:17,903 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2022-06-03 11:43:17,904 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:17,905 INFO sqlalchemy.engine.Engine [cached since 15.5s ago] (26,)
2022-06-03 11:43:17,926 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:17,927 INFO sqlalchemy.engine.Engine [cached since 17.93s ago] ('Abigail5.jpg',)
2022-06-03 11:43:17,928 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:18,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:18,083 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:18,084 INFO sqlalchemy.engine.Engine [cached since 17.95s ago] (27,)
2022-06-03 11:43:18,368 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:18,368 INFO sqlalchemy.engine.Engine [cached since 16.12s ago] ()
2022-06-03 11:43:18,370 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:18,370 INFO sqlalchemy.engine.Engine [cached since 16.13s ago] ()
2022-06-03 11:43:18,376 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:18,376 INFO sqlalchemy.engine.Engine [cached since 16.13s ago] (27, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:18,377 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:18,504 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:18,505 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:18,506 INFO sqlalchemy.engine.Engine [cached since 16.1s ago] (27,)
2022-06-03 11:43:18,512 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:18,513 INFO sqlalchemy.engine.Engine [cached since 18.52s ago] ('Abigail6.jpg',)
2022-06-03 11:43:18,515 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:18,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:18,658 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:18,659 INFO sqlalchemy.engine.Engine [cached since 18.53s ago] (28,)
2022-06-03 11:43:18,943 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:18,943 INFO sqlalchemy.engine.Engine [cached since 16.7s ago] ()
2022-06-03 11:43:18,945 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:18,946 INFO sqlalchemy.engine.Engine [cached since 16.7s ago] ()
2022-06-03 11:43:18,951 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:18,951 INFO sqlalchemy.engine.Engine [cached since 16.71s ago] (28, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:18,953 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:19,113 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:19,116 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:19,118 INFO sqlalchemy.engine.Engine [cached since 16.71s ago] (28,)
2022-06-03 11:43:19,124 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:19,125 INFO sqlalchemy.engine.Engine [cached since 19.13s ago] ('Abigail7.jpg',)
2022-06-03 11:43:19,126 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:19,253 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:19,253 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:19,254 INFO sqlalchemy.engine.Engine [cached since 19.12s ago] (29,)
2022-06-03 11:43:19,521 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:19,521 INFO sqlalchemy.engine.Engine [cached since 17.28s ago] ()
2022-06-03 11:43:19,523 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:19,523 INFO sqlalchemy.engine.Engine [cached since 17.28s ago] ()
2022-06-03 11:43:19,530 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:19,530 INFO sqlalchemy.engine.Engine [cached since 17.28s ago] (29, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:19,531 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:19,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:19,658 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:19,659 INFO sqlalchemy.engine.Engine [cached since 17.26s ago] (29,)
2022-06-03 11:43:19,663 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:19,663 INFO sqlalchemy.engine.Engine [cached since 19.67s ago] ('Abigail9.jpg',)
2022-06-03 11:43:19,665 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:19,786 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:19,786 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:19,787 INFO sqlalchemy.engine.Engine [cached since 19.65s ago] (30,)
2022-06-03 11:43:20,076 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:20,077 INFO sqlalchemy.engine.Engine [cached since 17.83s ago] ()
2022-06-03 11:43:20,078 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:20,079 INFO sqlalchemy.engine.Engine [cached since 17.83s ago] ()
2022-06-03 11:43:20,085 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:20,085 INFO sqlalchemy.engine.Engine [cached since 17.84s ago] (30, <memory at 0x0000024CF98FE708>, 6, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:20,086 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:20,227 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:20,228 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:20,228 INFO sqlalchemy.engine.Engine [cached since 17.82s ago] (30,)
2022-06-03 11:43:20,243 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:20,244 INFO sqlalchemy.engine.Engine [cached since 20.25s ago] ('Adele10.jpg',)

2022-06-03 11:43:20,254 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:20,425 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:20,426 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:20,426 INFO sqlalchemy.engine.Engine [cached since 20.29s ago] (31,)
2022-06-03 11:43:20,704 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:20,705 INFO sqlalchemy.engine.Engine [cached since 18.46s ago] ()
2022-06-03 11:43:20,707 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:20,707 INFO sqlalchemy.engine.Engine [cached since 18.46s ago] ()
2022-06-03 11:43:20,714 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:20,714 INFO sqlalchemy.engine.Engine [cached since 18.47s ago] ()
2022-06-03 11:43:20,716 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:20,717 INFO sqlalchemy.engine.Engine [cached since 18.47s ago] (31, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:20,718 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:20,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:20,859 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:20,859 INFO sqlalchemy.engine.Engine [cached since 18.46s ago] (31,)
2022-06-03 11:43:20,874 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:20,875 INFO sqlalchemy.engine.Engine [cached since 20.88s ago] ('Adele12.jpg',)
2022-06-03 11:43:20,876 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:21,021 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:21,024 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,026 INFO sqlalchemy.engine.Engine [cached since 20.89s ago] (32,)
2022-06-03 11:43:21,317 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:21,318 INFO sqlalchemy.engine.Engine [cached since 19.07s ago] ()
2022-06-03 11:43:21,319 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:21,320 INFO sqlalchemy.engine.Engine [cached since 19.08s ago] ()
2022-06-03 11:43:21,327 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:21,328 INFO sqlalchemy.engine.Engine [cached since 18.44s ago] (7,)
2022-06-03 11:43:21,329 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,329 INFO sqlalchemy.engine.Engine [cached since 18.44s ago] (31,)
2022-06-03 11:43:21,330 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:21,331 INFO sqlalchemy.engine.Engine [cached since 19.08s ago] (32, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:21,332 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:21,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:21,472 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:21,473 INFO sqlalchemy.engine.Engine [cached since 19.07s ago] (32,)
2022-06-03 11:43:21,475 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:21,475 INFO sqlalchemy.engine.Engine [cached since 21.48s ago] ('Adele17.jpg',)
2022-06-03 11:43:21,476 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:21,608 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:21,608 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,609 INFO sqlalchemy.engine.Engine [cached since 21.48s ago] (33,)
2022-06-03 11:43:21,875 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:21,876 INFO sqlalchemy.engine.Engine [cached since 19.63s ago] ()
2022-06-03 11:43:21,877 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:21,878 INFO sqlalchemy.engine.Engine [cached since 19.63s ago] ()
2022-06-03 11:43:21,885 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:21,885 INFO sqlalchemy.engine.Engine [cached since 19s ago] (7,)
2022-06-03 11:43:21,886 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,887 INFO sqlalchemy.engine.Engine [cached since 19s ago] (31,)
2022-06-03 11:43:21,888 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,888 INFO sqlalchemy.engine.Engine [cached since 19s ago] (32,)
2022-06-03 11:43:21,889 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:21,889 INFO sqlalchemy.engine.Engine [cached since 19.01s ago] (7,)
2022-06-03 11:43:21,890 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,891 INFO sqlalchemy.engine.Engine [cached since 19s ago] (31,)
2022-06-03 11:43:21,892 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:21,893 INFO sqlalchemy.engine.Engine [cached since 19.01s ago] (32,)
2022-06-03 11:43:21,893 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:21,894 INFO sqlalchemy.engine.Engine [cached since 19.65s ago] (33, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:21,895 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:22,038 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:22,041 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:22,043 INFO sqlalchemy.engine.Engine [cached since 19.64s ago] (33,)
2022-06-03 11:43:22,135 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:22,135 INFO sqlalchemy.engine.Engine [cached since 22.14s ago] ('Adele22.jpg',)

2022-06-03 11:43:22,136 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:22,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:22,261 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,262 INFO sqlalchemy.engine.Engine [cached since 22.13s ago] (34,)
2022-06-03 11:43:22,569 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:22,569 INFO sqlalchemy.engine.Engine [cached since 20.33s ago] ()
2022-06-03 11:43:22,571 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:22,572 INFO sqlalchemy.engine.Engine [cached since 20.33s ago] ()
2022-06-03 11:43:22,580 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:22,581 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (7,)
2022-06-03 11:43:22,582 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,583 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (31,)
2022-06-03 11:43:22,584 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,584 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (32,)
2022-06-03 11:43:22,585 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,586 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (33,)
2022-06-03 11:43:22,587 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:22,587 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (7,)
2022-06-03 11:43:22,588 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,589 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (31,)
2022-06-03 11:43:22,590 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,591 INFO sqlalchemy.engine.Engine [cached since 19.7s ago] (32,)
2022-06-03 11:43:22,593 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,594 INFO sqlalchemy.engine.Engine [cached since 19.71s ago] (33,)
2022-06-03 11:43:22,595 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:22,596 INFO sqlalchemy.engine.Engine [cached since 20.35s ago] (34, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:22,598 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:22,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:22,758 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:22,760 INFO sqlalchemy.engine.Engine [cached since 20.36s ago] (34,)
2022-06-03 11:43:22,772 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:22,773 INFO sqlalchemy.engine.Engine [cached since 22.78s ago] ('Adele25.jpg',)
2022-06-03 11:43:22,776 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:22,916 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:22,917 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:22,918 INFO sqlalchemy.engine.Engine [cached since 22.78s ago] (35,)
2022-06-03 11:43:23,193 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:23,194 INFO sqlalchemy.engine.Engine [cached since 20.95s ago] ()
2022-06-03 11:43:23,195 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:23,196 INFO sqlalchemy.engine.Engine [cached since 20.95s ago] ()
2022-06-03 11:43:23,203 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:23,204 INFO sqlalchemy.engine.Engine [cached since 20.96s ago] (35, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:23,205 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:23,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:23,341 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:23,343 INFO sqlalchemy.engine.Engine [cached since 20.94s ago] (35,)
2022-06-03 11:43:23,351 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:23,351 INFO sqlalchemy.engine.Engine [cached since 23.35s ago] ('Adele28.jpg',)
2022-06-03 11:43:23,352 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:23,477 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:23,478 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:23,478 INFO sqlalchemy.engine.Engine [cached since 23.35s ago] (36,)
2022-06-03 11:43:23,770 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:23,770 INFO sqlalchemy.engine.Engine [cached since 21.53s ago] ()
2022-06-03 11:43:23,772 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:23,773 INFO sqlalchemy.engine.Engine [cached since 21.53s ago] ()
2022-06-03 11:43:23,781 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:23,781 INFO sqlalchemy.engine.Engine [cached since 21.53s ago] (36, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:23,783 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:23,916 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:23,917 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:23,918 INFO sqlalchemy.engine.Engine [cached since 21.51s ago] (36,)
2022-06-03 11:43:23,932 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:23,932 INFO sqlalchemy.engine.Engine [cached since 23.94s ago] ('Adele32.jpg',)
2022-06-03 11:43:23,933 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:24,121 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:24,122 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:24,122 INFO sqlalchemy.engine.Engine [cached since 23.99s ago] (37,)

2022-06-03 11:43:24,431 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:24,431 INFO sqlalchemy.engine.Engine [cached since 22.19s ago] ()
2022-06-03 11:43:24,433 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:24,433 INFO sqlalchemy.engine.Engine [cached since 22.19s ago] ()
2022-06-03 11:43:24,441 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:24,441 INFO sqlalchemy.engine.Engine [cached since 22.2s ago] (37, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:24,443 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:24,600 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:24,601 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:24,601 INFO sqlalchemy.engine.Engine [cached since 22.2s ago] (37,)
2022-06-03 11:43:24,607 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:24,607 INFO sqlalchemy.engine.Engine [cached since 24.61s ago] ('Adele36.jpg',)
2022-06-03 11:43:24,609 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:24,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:24,749 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:24,751 INFO sqlalchemy.engine.Engine [cached since 24.62s ago] (38,)
2022-06-03 11:43:25,060 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:25,061 INFO sqlalchemy.engine.Engine [cached since 22.82s ago] ()
2022-06-03 11:43:25,062 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:25,063 INFO sqlalchemy.engine.Engine [cached since 22.82s ago] ()
2022-06-03 11:43:25,071 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:25,072 INFO sqlalchemy.engine.Engine [cached since 22.83s ago] (38, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:25,074 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:25,208 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:25,208 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:25,209 INFO sqlalchemy.engine.Engine [cached since 22.81s ago] (38,)
2022-06-03 11:43:25,220 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:25,221 INFO sqlalchemy.engine.Engine [cached since 25.22s ago] ('Adele37.jpg',)
2022-06-03 11:43:25,223 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:25,355 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:25,358 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:25,360 INFO sqlalchemy.engine.Engine [cached since 25.23s ago] (39,)
2022-06-03 11:43:25,834 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:25,834 INFO sqlalchemy.engine.Engine [cached since 23.59s ago] ()
2022-06-03 11:43:25,835 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:25,836 INFO sqlalchemy.engine.Engine [cached since 23.59s ago] ()
2022-06-03 11:43:25,843 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:25,844 INFO sqlalchemy.engine.Engine [cached since 23.6s ago] (39, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:25,845 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:25,992 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:25,993 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:25,993 INFO sqlalchemy.engine.Engine [cached since 23.59s ago] (39,)
2022-06-03 11:43:26,016 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:26,016 INFO sqlalchemy.engine.Engine [cached since 26.02s ago] ('Adele9.jpg',)
2022-06-03 11:43:26,018 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:26,157 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:26,157 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:26,158 INFO sqlalchemy.engine.Engine [cached since 26.02s ago] (40,)
2022-06-03 11:43:26,432 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:26,433 INFO sqlalchemy.engine.Engine [cached since 24.19s ago] ()
2022-06-03 11:43:26,434 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:26,434 INFO sqlalchemy.engine.Engine [cached since 24.19s ago] ()
2022-06-03 11:43:26,442 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:26,443 INFO sqlalchemy.engine.Engine [cached since 24.2s ago] (40, <memory at 0x0000024CF98FE708>, 7, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:26,444 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:26,591 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:26,591 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:26,592 INFO sqlalchemy.engine.Engine [cached since 24.19s ago] (40,)
2022-06-03 11:43:26,596 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:26,596 INFO sqlalchemy.engine.Engine [cached since 26.6s ago] ('Adrein10.jpg',)
2022-06-03 11:43:26,598 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:26,738 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:26,741 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:26,743 INFO sqlalchemy.engine.Engine [cached since 26.61s ago] (41,)
2022-06-03 11:43:27,043 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:27,044 INFO sqlalchemy.engine.Engine [cached since 24.8s ago] ()
2022-06-03 11:43:27,046 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces

2022-06-03 11:43:27,046 INFO sqlalchemy.engine.Engine [cached since 24.8s ago] ()
2022-06-03 11:43:27,055 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:27,055 INFO sqlalchemy.engine.Engine [cached since 24.81s ago] ()
2022-06-03 11:43:27,056 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:27,057 INFO sqlalchemy.engine.Engine [cached since 24.81s ago] (41, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:27,058 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:27,233 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:27,234 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:27,234 INFO sqlalchemy.engine.Engine [cached since 24.83s ago] (41,)
2022-06-03 11:43:27,237 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:27,237 INFO sqlalchemy.engine.Engine [cached since 27.24s ago] ('Adrein11.jpg',)
2022-06-03 11:43:27,238 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:27,370 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:27,371 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:27,371 INFO sqlalchemy.engine.Engine [cached since 27.24s ago] (42,)
2022-06-03 11:43:27,632 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:27,633 INFO sqlalchemy.engine.Engine [cached since 25.39s ago] ()
2022-06-03 11:43:27,634 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:27,635 INFO sqlalchemy.engine.Engine [cached since 25.39s ago] ()
2022-06-03 11:43:27,644 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:27,645 INFO sqlalchemy.engine.Engine [cached since 24.76s ago] (8,)
2022-06-03 11:43:27,646 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:27,646 INFO sqlalchemy.engine.Engine [cached since 24.76s ago] (41,)
2022-06-03 11:43:27,647 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:27,648 INFO sqlalchemy.engine.Engine [cached since 25.4s ago] (42, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:27,649 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:27,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:27,859 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:27,859 INFO sqlalchemy.engine.Engine [cached since 25.46s ago] (42,)
2022-06-03 11:43:27,862 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:27,863 INFO sqlalchemy.engine.Engine [cached since 27.87s ago] ('Adrein12.jpg',)
2022-06-03 11:43:27,864 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:27,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:27,995 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:27,995 INFO sqlalchemy.engine.Engine [cached since 27.86s ago] (43,)
2022-06-03 11:43:28,263 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:28,263 INFO sqlalchemy.engine.Engine [cached since 26.02s ago] ()
2022-06-03 11:43:28,265 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:28,265 INFO sqlalchemy.engine.Engine [cached since 26.02s ago] ()
2022-06-03 11:43:28,275 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:28,275 INFO sqlalchemy.engine.Engine [cached since 25.39s ago] (8,)
2022-06-03 11:43:28,276 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:28,277 INFO sqlalchemy.engine.Engine [cached since 25.39s ago] (41,)
2022-06-03 11:43:28,278 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:28,279 INFO sqlalchemy.engine.Engine [cached since 25.39s ago] (42,)
2022-06-03 11:43:28,280 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:28,281 INFO sqlalchemy.engine.Engine [cached since 25.4s ago] (8,)
2022-06-03 11:43:28,282 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:28,282 INFO sqlalchemy.engine.Engine [cached since 25.39s ago] (41,)
2022-06-03 11:43:28,284 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:28,284 INFO sqlalchemy.engine.Engine [cached since 25.4s ago] (42,)
2022-06-03 11:43:28,285 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:28,286 INFO sqlalchemy.engine.Engine [cached since 26.04s ago] (43, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:28,287 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:28,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:28,478 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:28,480 INFO sqlalchemy.engine.Engine [cached since 26.08s ago] (43,)
2022-06-03 11:43:28,492 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:28,493 INFO sqlalchemy.engine.Engine [cached since 28.5s ago] ('Adrein15.jpg',)
2022-06-03 11:43:28,494 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:28,644 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:28,645 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:28,645 INFO sqlalchemy.engine.Engine [cached since 28.51s ago] (44,)
2022-06-03 11:43:28,960 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:28,960 INFO sqlalchemy.engine.Engine [cached since 26.72s ago] ()
2022-06-03 11:43:28,962 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces

2022-06-03 11:43:28,963 INFO sqlalchemy.engine.Engine [cached since 26.72s ago] ()
2022-06-03 11:43:28,973 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:28,973 INFO sqlalchemy.engine.Engine [cached since 26.73s ago] (44, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:28,975 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:29,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:29,127 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:29,127 INFO sqlalchemy.engine.Engine [cached since 26.72s ago] (44,)
2022-06-03 11:43:29,145 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:29,145 INFO sqlalchemy.engine.Engine [cached since 29.15s ago] ('Adrein16.jpg',)
2022-06-03 11:43:29,147 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:29,321 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:29,322 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:29,323 INFO sqlalchemy.engine.Engine [cached since 29.19s ago] (45,)
2022-06-03 11:43:29,635 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:29,635 INFO sqlalchemy.engine.Engine [cached since 27.39s ago] ()
2022-06-03 11:43:29,637 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:29,637 INFO sqlalchemy.engine.Engine [cached since 27.39s ago] ()
2022-06-03 11:43:29,647 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:29,648 INFO sqlalchemy.engine.Engine [cached since 27.4s ago] (45, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:29,649 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:29,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:29,838 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:29,838 INFO sqlalchemy.engine.Engine [cached since 27.44s ago] (45,)
2022-06-03 11:43:29,848 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:29,849 INFO sqlalchemy.engine.Engine [cached since 29.85s ago] ('Adrein18.jpg',)
2022-06-03 11:43:29,851 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:30,000 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:30,002 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:30,003 INFO sqlalchemy.engine.Engine [cached since 29.87s ago] (46,)
2022-06-03 11:43:30,277 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:30,278 INFO sqlalchemy.engine.Engine [cached since 28.03s ago] ()
2022-06-03 11:43:30,280 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:30,280 INFO sqlalchemy.engine.Engine [cached since 28.04s ago] ()
2022-06-03 11:43:30,291 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:30,292 INFO sqlalchemy.engine.Engine [cached since 28.04s ago] (46, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:30,293 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:30,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:30,497 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:30,498 INFO sqlalchemy.engine.Engine [cached since 28.09s ago] (46,)
2022-06-03 11:43:30,502 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:30,503 INFO sqlalchemy.engine.Engine [cached since 30.51s ago] ('Adrein22.jpg',)
2022-06-03 11:43:30,504 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:30,650 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:30,651 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:30,652 INFO sqlalchemy.engine.Engine [cached since 30.52s ago] (47,)
2022-06-03 11:43:30,922 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:30,922 INFO sqlalchemy.engine.Engine [cached since 28.68s ago] ()
2022-06-03 11:43:30,924 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:30,924 INFO sqlalchemy.engine.Engine [cached since 28.68s ago] ()
2022-06-03 11:43:30,935 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:30,936 INFO sqlalchemy.engine.Engine [cached since 28.69s ago] (47, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:30,937 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:31,076 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:31,076 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:31,077 INFO sqlalchemy.engine.Engine [cached since 28.67s ago] (47,)
2022-06-03 11:43:31,080 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:31,080 INFO sqlalchemy.engine.Engine [cached since 31.08s ago] ('Adrein23.jpg',)
2022-06-03 11:43:31,082 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:31,225 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:31,227 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:31,228 INFO sqlalchemy.engine.Engine [cached since 31.1s ago] (48,)
2022-06-03 11:43:31,505 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:31,506 INFO sqlalchemy.engine.Engine [cached since 29.26s ago] ()
2022-06-03 11:43:31,508 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:31,508 INFO sqlalchemy.engine.Engine [cached since 29.26s ago] ()
2022-06-03 11:43:31,519 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:31,519 INFO sqlalchemy.engine.Engine [cached since 29.27s ago] (48, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:31,521 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:31,667 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2022-06-03 11:43:31,668 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:31,668 INFO sqlalchemy.engine.Engine [cached since 29.26s ago] (48,)
2022-06-03 11:43:31,680 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:31,680 INFO sqlalchemy.engine.Engine [cached since 31.68s ago] ('Adrein25.jpg',)
2022-06-03 11:43:31,682 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:31,815 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:31,816 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:31,818 INFO sqlalchemy.engine.Engine [cached since 31.68s ago] (49,)
2022-06-03 11:43:32,352 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:32,352 INFO sqlalchemy.engine.Engine [cached since 30.11s ago] ()
2022-06-03 11:43:32,354 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:32,355 INFO sqlalchemy.engine.Engine [cached since 30.11s ago] ()
2022-06-03 11:43:32,366 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:32,366 INFO sqlalchemy.engine.Engine [cached since 30.12s ago] (49, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:32,368 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:32,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:32,547 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:32,548 INFO sqlalchemy.engine.Engine [cached since 30.14s ago] (49,)
2022-06-03 11:43:32,549 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:32,550 INFO sqlalchemy.engine.Engine [cached since 30.3s ago] ()
2022-06-03 11:43:32,552 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:32,552 INFO sqlalchemy.engine.Engine [cached since 30.31s ago] ()
2022-06-03 11:43:32,563 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:32,564 INFO sqlalchemy.engine.Engine [cached since 30.32s ago] ()
2022-06-03 11:43:32,564 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:32,566 INFO sqlalchemy.engine.Engine [cached since 30.32s ago] (49, <memory at 0x0000024CF98FE708>, 9, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:32,566 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:32,708 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:32,709 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:32,709 INFO sqlalchemy.engine.Engine [cached since 30.31s ago] (50,)
2022-06-03 11:43:32,720 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:32,721 INFO sqlalchemy.engine.Engine [cached since 32.73s ago] ('Adrein26.jpg',)
2022-06-03 11:43:32,723 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:32,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:32,866 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:32,867 INFO sqlalchemy.engine.Engine [cached since 32.73s ago] (50,)
2022-06-03 11:43:33,179 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:33,180 INFO sqlalchemy.engine.Engine [cached since 30.94s ago] ()
2022-06-03 11:43:33,181 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:33,182 INFO sqlalchemy.engine.Engine [cached since 30.94s ago] ()
2022-06-03 11:43:33,193 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:33,193 INFO sqlalchemy.engine.Engine [cached since 30.95s ago] (50, <memory at 0x0000024CF98FE708>, 8, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:33,195 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:33,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:33,387 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:33,387 INFO sqlalchemy.engine.Engine [cached since 30.98s ago] (51,)
2022-06-03 11:43:33,390 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:33,390 INFO sqlalchemy.engine.Engine [cached since 33.39s ago] ('Adriana11.jpg',)
2022-06-03 11:43:33,392 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:33,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:33,534 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:33,535 INFO sqlalchemy.engine.Engine [cached since 33.4s ago] (51,)
2022-06-03 11:43:33,805 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:33,806 INFO sqlalchemy.engine.Engine [cached since 31.56s ago] ()
2022-06-03 11:43:33,808 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:33,808 INFO sqlalchemy.engine.Engine [cached since 31.56s ago] ()
2022-06-03 11:43:33,819 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:33,820 INFO sqlalchemy.engine.Engine [cached since 31.58s ago] ()
2022-06-03 11:43:33,822 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:33,822 INFO sqlalchemy.engine.Engine [cached since 31.58s ago] (51, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:33,824 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:33,984 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:33,986 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:33,987 INFO sqlalchemy.engine.Engine [cached since 31.58s ago] (52,)
2022-06-03 11:43:34,000 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)

2022-06-03 11:43:34,001 INFO sqlalchemy.engine.Engine [cached since 34s ago] ('Adriana12.jpg',)
2022-06-03 11:43:34,002 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:34,140 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:34,141 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:34,141 INFO sqlalchemy.engine.Engine [cached since 34.01s ago] (52,)
2022-06-03 11:43:34,472 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:34,473 INFO sqlalchemy.engine.Engine [cached since 32.23s ago] ()
2022-06-03 11:43:34,475 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:34,475 INFO sqlalchemy.engine.Engine [cached since 32.23s ago] ()
2022-06-03 11:43:34,487 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:34,488 INFO sqlalchemy.engine.Engine [cached since 31.6s ago] (10,)
2022-06-03 11:43:34,490 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:34,490 INFO sqlalchemy.engine.Engine [cached since 31.6s ago] (51,)
2022-06-03 11:43:34,492 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:34,492 INFO sqlalchemy.engine.Engine [cached since 32.25s ago] (52, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:34,493 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:34,624 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:34,625 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:34,626 INFO sqlalchemy.engine.Engine [cached since 32.22s ago] (53,)
2022-06-03 11:43:34,632 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:34,633 INFO sqlalchemy.engine.Engine [cached since 34.64s ago] ('Adriana13.jpg',)
2022-06-03 11:43:34,634 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:34,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:34,762 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:34,763 INFO sqlalchemy.engine.Engine [cached since 34.63s ago] (53,)
2022-06-03 11:43:35,051 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:35,051 INFO sqlalchemy.engine.Engine [cached since 32.81s ago] ()
2022-06-03 11:43:35,053 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:35,053 INFO sqlalchemy.engine.Engine [cached since 32.81s ago] ()
2022-06-03 11:43:35,065 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:35,066 INFO sqlalchemy.engine.Engine [cached since 32.18s ago] (10,)
2022-06-03 11:43:35,067 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,068 INFO sqlalchemy.engine.Engine [cached since 32.18s ago] (51,)
2022-06-03 11:43:35,069 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,069 INFO sqlalchemy.engine.Engine [cached since 32.18s ago] (52,)
2022-06-03 11:43:35,070 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:35,071 INFO sqlalchemy.engine.Engine [cached since 32.19s ago] (10,)
2022-06-03 11:43:35,072 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,072 INFO sqlalchemy.engine.Engine [cached since 32.19s ago] (51,)
2022-06-03 11:43:35,074 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,075 INFO sqlalchemy.engine.Engine [cached since 32.19s ago] (52,)
2022-06-03 11:43:35,076 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:35,076 INFO sqlalchemy.engine.Engine [cached since 32.83s ago] (53, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:35,078 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:35,216 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:35,219 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:35,221 INFO sqlalchemy.engine.Engine [cached since 32.82s ago] (54,)
2022-06-03 11:43:35,235 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:35,236 INFO sqlalchemy.engine.Engine [cached since 35.24s ago] ('Adriana18.jpg',)
2022-06-03 11:43:35,238 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:35,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:35,364 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,365 INFO sqlalchemy.engine.Engine [cached since 35.23s ago] (54,)
2022-06-03 11:43:35,643 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:35,644 INFO sqlalchemy.engine.Engine [cached since 33.4s ago] ()
2022-06-03 11:43:35,646 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:35,646 INFO sqlalchemy.engine.Engine [cached since 33.4s ago] ()
2022-06-03 11:43:35,659 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:35,660 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (10,)
2022-06-03 11:43:35,661 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,661 INFO sqlalchemy.engine.Engine [cached since 32.77s ago] (51,)
2022-06-03 11:43:35,662 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,663 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (52,)
2022-06-03 11:43:35,664 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,665 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (53,)
2022-06-03 11:43:35,666 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?

2022-06-03 11:43:35,666 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (10,)
2022-06-03 11:43:35,667 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,668 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (51,)
2022-06-03 11:43:35,669 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,669 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (52,)
2022-06-03 11:43:35,671 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:35,671 INFO sqlalchemy.engine.Engine [cached since 32.78s ago] (53,)
2022-06-03 11:43:35,672 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:35,673 INFO sqlalchemy.engine.Engine [cached since 33.43s ago] (54, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:35,674 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:35,870 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:35,871 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:35,872 INFO sqlalchemy.engine.Engine [cached since 33.47s ago] (55,)
2022-06-03 11:43:35,879 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:35,879 INFO sqlalchemy.engine.Engine [cached since 35.88s ago] ('Adriana19.jpg',)
2022-06-03 11:43:35,881 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:36,025 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:36,027 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:36,028 INFO sqlalchemy.engine.Engine [cached since 35.9s ago] (55,)
2022-06-03 11:43:36,332 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:36,333 INFO sqlalchemy.engine.Engine [cached since 34.09s ago] ()
2022-06-03 11:43:36,334 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:36,335 INFO sqlalchemy.engine.Engine [cached since 34.09s ago] ()
2022-06-03 11:43:36,347 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:36,348 INFO sqlalchemy.engine.Engine [cached since 34.1s ago] (55, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:36,349 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:36,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:36,485 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:36,487 INFO sqlalchemy.engine.Engine [cached since 34.08s ago] (56,)
2022-06-03 11:43:36,502 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:36,503 INFO sqlalchemy.engine.Engine [cached since 36.51s ago] ('Adriana21.jpg',)
2022-06-03 11:43:36,528 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:36,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:36,675 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:36,676 INFO sqlalchemy.engine.Engine [cached since 36.54s ago] (56,)
2022-06-03 11:43:36,978 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:36,979 INFO sqlalchemy.engine.Engine [cached since 34.73s ago] ()
2022-06-03 11:43:36,981 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:36,982 INFO sqlalchemy.engine.Engine [cached since 34.74s ago] ()
2022-06-03 11:43:36,995 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:36,996 INFO sqlalchemy.engine.Engine [cached since 34.75s ago] (56, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:36,998 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:37,142 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:37,143 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:37,143 INFO sqlalchemy.engine.Engine [cached since 34.74s ago] (57,)
2022-06-03 11:43:37,148 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:37,148 INFO sqlalchemy.engine.Engine [cached since 37.15s ago] ('Adriana22.jpg',)
2022-06-03 11:43:37,149 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:37,287 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:37,288 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:37,288 INFO sqlalchemy.engine.Engine [cached since 37.16s ago] (57,)
2022-06-03 11:43:37,561 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:37,562 INFO sqlalchemy.engine.Engine [cached since 35.32s ago] ()
2022-06-03 11:43:37,563 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:37,564 INFO sqlalchemy.engine.Engine [cached since 35.32s ago] ()
2022-06-03 11:43:37,577 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:37,577 INFO sqlalchemy.engine.Engine [cached since 35.33s ago] (57, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:37,579 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:37,724 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:37,725 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:37,725 INFO sqlalchemy.engine.Engine [cached since 35.32s ago] (58,)
2022-06-03 11:43:37,736 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:37,736 INFO sqlalchemy.engine.Engine [cached since 37.74s ago] ('Adriana23.jpg',)
2022-06-03 11:43:37,738 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:37,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:37,893 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:37,894 INFO sqlalchemy.engine.Engine [cached since 37.76s ago] (58,)
2022-06-03 11:43:38,181 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:38,182 INFO sqlalchemy.engine.Engine [cached since 35.94s ago] ()
2022-06-03 11:43:38,184 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces

2022-06-03 11:43:38,185 INFO sqlalchemy.engine.Engine [cached since 35.94s ago] ()
2022-06-03 11:43:38,198 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:38,198 INFO sqlalchemy.engine.Engine [cached since 35.95s ago] (58, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:38,200 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:38,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:38,370 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:38,370 INFO sqlalchemy.engine.Engine [cached since 35.97s ago] (59,)
2022-06-03 11:43:38,374 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:38,375 INFO sqlalchemy.engine.Engine [cached since 38.38s ago] ('Adriana24.jpg',)
2022-06-03 11:43:38,376 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:38,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:38,508 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:38,509 INFO sqlalchemy.engine.Engine [cached since 38.38s ago] (59,)
2022-06-03 11:43:38,803 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:38,804 INFO sqlalchemy.engine.Engine [cached since 36.56s ago] ()
2022-06-03 11:43:38,806 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:38,806 INFO sqlalchemy.engine.Engine [cached since 36.56s ago] ()
2022-06-03 11:43:38,819 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:38,819 INFO sqlalchemy.engine.Engine [cached since 36.57s ago] (59, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:38,821 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:38,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:38,961 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:38,963 INFO sqlalchemy.engine.Engine [cached since 36.56s ago] (60,)
2022-06-03 11:43:39,001 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:39,001 INFO sqlalchemy.engine.Engine [cached since 39s ago] ('Adriana9.jpg',)
2022-06-03 11:43:39,002 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:39,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:39,134 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:39,134 INFO sqlalchemy.engine.Engine [cached since 39s ago] (60,)
2022-06-03 11:43:39,425 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:39,426 INFO sqlalchemy.engine.Engine [cached since 37.18s ago] ()
2022-06-03 11:43:39,427 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:39,428 INFO sqlalchemy.engine.Engine [cached since 37.18s ago] ()
2022-06-03 11:43:39,440 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:39,441 INFO sqlalchemy.engine.Engine [cached since 37.2s ago] (60, <memory at 0x0000024CF98FE708>, 10, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:39,443 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:39,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:39,619 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:39,621 INFO sqlalchemy.engine.Engine [cached since 37.22s ago] (61,)
2022-06-03 11:43:39,631 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:39,631 INFO sqlalchemy.engine.Engine [cached since 39.64s ago] ('Adrianne44.jpg',)
2022-06-03 11:43:39,633 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:39,777 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:39,777 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:39,778 INFO sqlalchemy.engine.Engine [cached since 39.65s ago] (61,)
2022-06-03 11:43:40,071 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:40,071 INFO sqlalchemy.engine.Engine [cached since 37.83s ago] ()
2022-06-03 11:43:40,073 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:40,073 INFO sqlalchemy.engine.Engine [cached since 37.83s ago] ()
2022-06-03 11:43:40,087 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:40,087 INFO sqlalchemy.engine.Engine [cached since 37.84s ago] ()
2022-06-03 11:43:40,089 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:40,089 INFO sqlalchemy.engine.Engine [cached since 37.84s ago] (61, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:40,091 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:40,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:40,238 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:40,239 INFO sqlalchemy.engine.Engine [cached since 37.84s ago] (62,)
2022-06-03 11:43:40,253 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:40,253 INFO sqlalchemy.engine.Engine [cached since 40.26s ago] ('Adrianne45.jpg',)
2022-06-03 11:43:40,255 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:40,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:40,377 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:40,378 INFO sqlalchemy.engine.Engine [cached since 40.25s ago] (62,)
2022-06-03 11:43:40,859 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:40,860 INFO sqlalchemy.engine.Engine [cached since 38.62s ago] ()
2022-06-03 11:43:40,862 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:40,862 INFO sqlalchemy.engine.Engine [cached since 38.62s ago] ()
2022-06-03 11:43:40,900 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?

2022-06-03 11:43:40,901 INFO sqlalchemy.engine.Engine [cached since 38.02s ago] (11,)
2022-06-03 11:43:40,902 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:40,903 INFO sqlalchemy.engine.Engine [cached since 38.02s ago] (61,)
2022-06-03 11:43:40,904 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:40,904 INFO sqlalchemy.engine.Engine [cached since 38.66s ago] (62, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:40,906 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:41,116 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:41,117 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:41,118 INFO sqlalchemy.engine.Engine [cached since 38.71s ago] (63,)
2022-06-03 11:43:41,123 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:41,124 INFO sqlalchemy.engine.Engine [cached since 41.13s ago] ('Adrianne46.jpg',)
2022-06-03 11:43:41,125 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:41,260 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:41,261 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:41,261 INFO sqlalchemy.engine.Engine [cached since 41.13s ago] (63,)
2022-06-03 11:43:41,561 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:41,562 INFO sqlalchemy.engine.Engine [cached since 39.32s ago] ()
2022-06-03 11:43:41,563 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:41,564 INFO sqlalchemy.engine.Engine [cached since 39.32s ago] ()
2022-06-03 11:43:41,577 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:41,578 INFO sqlalchemy.engine.Engine [cached since 38.69s ago] (11,)
2022-06-03 11:43:41,579 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:41,580 INFO sqlalchemy.engine.Engine [cached since 38.69s ago] (61,)
2022-06-03 11:43:41,581 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:41,581 INFO sqlalchemy.engine.Engine [cached since 38.69s ago] (62,)
2022-06-03 11:43:41,582 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:41,582 INFO sqlalchemy.engine.Engine [cached since 38.7s ago] (11,)
2022-06-03 11:43:41,583 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:41,584 INFO sqlalchemy.engine.Engine [cached since 38.7s ago] (61,)
2022-06-03 11:43:41,585 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:41,585 INFO sqlalchemy.engine.Engine [cached since 38.7s ago] (62,)
2022-06-03 11:43:41,586 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:41,587 INFO sqlalchemy.engine.Engine [cached since 39.34s ago] (63, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:41,588 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:41,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:41,737 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:41,737 INFO sqlalchemy.engine.Engine [cached since 39.33s ago] (64,)
2022-06-03 11:43:41,741 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:41,742 INFO sqlalchemy.engine.Engine [cached since 41.75s ago] ('Adrianne47.jpg',)
2022-06-03 11:43:41,744 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:41,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:41,892 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:41,892 INFO sqlalchemy.engine.Engine [cached since 41.76s ago] (64,)
2022-06-03 11:43:42,180 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:42,181 INFO sqlalchemy.engine.Engine [cached since 39.94s ago] ()
2022-06-03 11:43:42,183 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:42,183 INFO sqlalchemy.engine.Engine [cached since 39.94s ago] ()
2022-06-03 11:43:42,197 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:42,197 INFO sqlalchemy.engine.Engine [cached since 39.95s ago] (64, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:42,199 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:42,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:42,360 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:42,361 INFO sqlalchemy.engine.Engine [cached since 39.96s ago] (65,)
2022-06-03 11:43:42,389 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:42,389 INFO sqlalchemy.engine.Engine [cached since 42.39s ago] ('Adrianne48.jpg',)
2022-06-03 11:43:42,390 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:42,525 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:42,526 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:42,526 INFO sqlalchemy.engine.Engine [cached since 42.39s ago] (65,)
2022-06-03 11:43:42,818 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:42,819 INFO sqlalchemy.engine.Engine [cached since 40.57s ago] ()
2022-06-03 11:43:42,820 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:42,821 INFO sqlalchemy.engine.Engine [cached since 40.58s ago] ()
2022-06-03 11:43:42,835 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:42,836 INFO sqlalchemy.engine.Engine [cached since 40.59s ago] (65, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:42,837 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:42,977 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:42,978 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?

2022-06-03 11:43:42,979 INFO sqlalchemy.engine.Engine [cached since 40.58s ago] (66,)
2022-06-03 11:43:42,993 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:42,993 INFO sqlalchemy.engine.Engine [cached since 43s ago] ('Adrianne49.jpg',)
2022-06-03 11:43:42,995 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:43,141 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:43,142 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:43,142 INFO sqlalchemy.engine.Engine [cached since 43.01s ago] (66,)
2022-06-03 11:43:43,431 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:43,431 INFO sqlalchemy.engine.Engine [cached since 41.19s ago] ()
2022-06-03 11:43:43,433 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:43,434 INFO sqlalchemy.engine.Engine [cached since 41.19s ago] ()
2022-06-03 11:43:43,448 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:43,449 INFO sqlalchemy.engine.Engine [cached since 41.2s ago] (66, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:43,450 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:43,661 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:43,664 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:43,665 INFO sqlalchemy.engine.Engine [cached since 41.26s ago] (67,)
2022-06-03 11:43:43,670 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:43,670 INFO sqlalchemy.engine.Engine [cached since 43.67s ago] ('Adrianne50.jpg',)
2022-06-03 11:43:43,672 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:43,812 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:43,813 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:43,814 INFO sqlalchemy.engine.Engine [cached since 43.68s ago] (67,)
2022-06-03 11:43:44,117 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:44,118 INFO sqlalchemy.engine.Engine [cached since 41.87s ago] ()
2022-06-03 11:43:44,119 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:44,120 INFO sqlalchemy.engine.Engine [cached since 41.88s ago] ()
2022-06-03 11:43:44,134 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:44,135 INFO sqlalchemy.engine.Engine [cached since 41.89s ago] (67, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:44,137 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:44,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:44,333 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:44,334 INFO sqlalchemy.engine.Engine [cached since 41.93s ago] (68,)
2022-06-03 11:43:44,364 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:44,365 INFO sqlalchemy.engine.Engine [cached since 44.37s ago] ('Adrianne51.jpg',)
2022-06-03 11:43:44,366 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:44,567 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:44,570 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:44,571 INFO sqlalchemy.engine.Engine [cached since 44.44s ago] (68,)
2022-06-03 11:43:44,857 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:44,857 INFO sqlalchemy.engine.Engine [cached since 42.61s ago] ()
2022-06-03 11:43:44,859 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:44,860 INFO sqlalchemy.engine.Engine [cached since 42.62s ago] ()
2022-06-03 11:43:44,874 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:44,874 INFO sqlalchemy.engine.Engine [cached since 42.63s ago] (68, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:44,876 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:45,088 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:45,091 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:45,093 INFO sqlalchemy.engine.Engine [cached since 42.69s ago] (69,)
2022-06-03 11:43:45,102 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:45,103 INFO sqlalchemy.engine.Engine [cached since 45.11s ago] ('Adrianne52.jpg',)
2022-06-03 11:43:45,107 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:45,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:45,251 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:45,253 INFO sqlalchemy.engine.Engine [cached since 45.12s ago] (69,)
2022-06-03 11:43:45,550 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:45,551 INFO sqlalchemy.engine.Engine [cached since 43.31s ago] ()
2022-06-03 11:43:45,552 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:45,553 INFO sqlalchemy.engine.Engine [cached since 43.31s ago] ()
2022-06-03 11:43:45,567 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:45,568 INFO sqlalchemy.engine.Engine [cached since 43.32s ago] (69, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:45,570 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:45,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:45,766 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:45,767 INFO sqlalchemy.engine.Engine [cached since 43.36s ago] (70,)
2022-06-03 11:43:45,772 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:45,773 INFO sqlalchemy.engine.Engine [cached since 45.78s ago] ('Adrianne53.jpg',)
2022-06-03 11:43:45,774 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:45,933 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:45,933 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:43:45,934 INFO sqlalchemy.engine.Engine [cached since 45.8s ago] (70,)
2022-06-03 11:43:46,231 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:46,232 INFO sqlalchemy.engine.Engine [cached since 43.99s ago] ()
2022-06-03 11:43:46,234 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:46,234 INFO sqlalchemy.engine.Engine [cached since 43.99s ago] ()
2022-06-03 11:43:46,248 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:46,249 INFO sqlalchemy.engine.Engine [cached since 44s ago] (70, <memory at 0x0000024CF98FE708>, 11, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:46,251 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:46,383 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:46,383 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:46,384 INFO sqlalchemy.engine.Engine [cached since 43.98s ago] (71,)
2022-06-03 11:43:46,389 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:46,390 INFO sqlalchemy.engine.Engine [cached since 46.39s ago] ('Alan63.jpg',)
2022-06-03 11:43:46,391 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:46,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:46,535 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:46,536 INFO sqlalchemy.engine.Engine [cached since 46.4s ago] (71,)
2022-06-03 11:43:46,860 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:46,861 INFO sqlalchemy.engine.Engine [cached since 44.62s ago] ()
2022-06-03 11:43:46,863 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:46,864 INFO sqlalchemy.engine.Engine [cached since 44.62s ago] ()
2022-06-03 11:43:46,878 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:46,879 INFO sqlalchemy.engine.Engine [cached since 44.64s ago] ()
2022-06-03 11:43:46,881 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:46,881 INFO sqlalchemy.engine.Engine [cached since 44.64s ago] (71, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:46,883 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:47,010 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:47,010 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:47,011 INFO sqlalchemy.engine.Engine [cached since 44.61s ago] (72,)
2022-06-03 11:43:47,013 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:47,013 INFO sqlalchemy.engine.Engine [cached since 47.02s ago] ('Alan64.jpg',)
2022-06-03 11:43:47,015 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:47,177 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:47,178 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:47,178 INFO sqlalchemy.engine.Engine [cached since 47.04s ago] (72,)
2022-06-03 11:43:47,449 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:47,449 INFO sqlalchemy.engine.Engine [cached since 45.21s ago] ()
2022-06-03 11:43:47,451 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:47,451 INFO sqlalchemy.engine.Engine [cached since 45.21s ago] ()
2022-06-03 11:43:47,467 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:47,467 INFO sqlalchemy.engine.Engine [cached since 44.58s ago] (12,)
2022-06-03 11:43:47,468 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:47,468 INFO sqlalchemy.engine.Engine [cached since 44.58s ago] (71,)
2022-06-03 11:43:47,469 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:47,470 INFO sqlalchemy.engine.Engine [cached since 45.22s ago] (72, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:47,471 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:47,691 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:47,692 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:47,692 INFO sqlalchemy.engine.Engine [cached since 45.29s ago] (73,)
2022-06-03 11:43:47,696 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:47,697 INFO sqlalchemy.engine.Engine [cached since 47.7s ago] ('Alan65.jpg',)
2022-06-03 11:43:47,698 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:47,911 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:47,913 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:47,913 INFO sqlalchemy.engine.Engine [cached since 47.78s ago] (73,)
2022-06-03 11:43:48,210 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:48,210 INFO sqlalchemy.engine.Engine [cached since 45.97s ago] ()
2022-06-03 11:43:48,212 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:48,212 INFO sqlalchemy.engine.Engine [cached since 45.97s ago] ()
2022-06-03 11:43:48,228 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:48,229 INFO sqlalchemy.engine.Engine [cached since 45.34s ago] (12,)
2022-06-03 11:43:48,230 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:48,231 INFO sqlalchemy.engine.Engine [cached since 45.34s ago] (71,)
2022-06-03 11:43:48,232 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:48,233 INFO sqlalchemy.engine.Engine [cached since 45.35s ago] (72,)
2022-06-03 11:43:48,234 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?

2022-06-03 11:43:48,234 INFO sqlalchemy.engine.Engine [cached since 45.35s ago] (12,)
2022-06-03 11:43:48,235 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:48,236 INFO sqlalchemy.engine.Engine [cached since 45.35s ago] (71,)
2022-06-03 11:43:48,237 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:48,237 INFO sqlalchemy.engine.Engine [cached since 45.35s ago] (72,)
2022-06-03 11:43:48,238 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:48,238 INFO sqlalchemy.engine.Engine [cached since 45.99s ago] (73, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:48,240 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:48,375 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:48,376 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:48,376 INFO sqlalchemy.engine.Engine [cached since 45.97s ago] (74,)
2022-06-03 11:43:48,385 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:48,385 INFO sqlalchemy.engine.Engine [cached since 48.39s ago] ('Alan67.jpg',)
2022-06-03 11:43:48,387 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:48,541 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:48,544 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:48,546 INFO sqlalchemy.engine.Engine [cached since 48.41s ago] (74,)
2022-06-03 11:43:48,866 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:48,867 INFO sqlalchemy.engine.Engine [cached since 46.62s ago] ()
2022-06-03 11:43:48,868 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:48,869 INFO sqlalchemy.engine.Engine [cached since 46.62s ago] ()
2022-06-03 11:43:48,885 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:48,885 INFO sqlalchemy.engine.Engine [cached since 46.64s ago] (74, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:48,887 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:49,023 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:49,024 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:49,024 INFO sqlalchemy.engine.Engine [cached since 46.62s ago] (75,)
2022-06-03 11:43:49,029 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:49,029 INFO sqlalchemy.engine.Engine [cached since 49.03s ago] ('Alan69.jpg',)
2022-06-03 11:43:49,031 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:49,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:49,185 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:49,187 INFO sqlalchemy.engine.Engine [cached since 49.05s ago] (75,)
2022-06-03 11:43:49,484 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:49,484 INFO sqlalchemy.engine.Engine [cached since 47.24s ago] ()
2022-06-03 11:43:49,486 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:49,487 INFO sqlalchemy.engine.Engine [cached since 47.24s ago] ()
2022-06-03 11:43:49,504 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:49,504 INFO sqlalchemy.engine.Engine [cached since 47.26s ago] (75, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:49,506 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:49,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:49,659 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:49,660 INFO sqlalchemy.engine.Engine [cached since 47.26s ago] (76,)
2022-06-03 11:43:49,674 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:49,674 INFO sqlalchemy.engine.Engine [cached since 49.68s ago] ('Alan70.jpg',)
2022-06-03 11:43:49,676 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:49,868 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:49,869 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:49,869 INFO sqlalchemy.engine.Engine [cached since 49.74s ago] (76,)
2022-06-03 11:43:50,177 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:50,178 INFO sqlalchemy.engine.Engine [cached since 47.93s ago] ()
2022-06-03 11:43:50,180 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:50,181 INFO sqlalchemy.engine.Engine [cached since 47.94s ago] ()
2022-06-03 11:43:50,197 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:50,197 INFO sqlalchemy.engine.Engine [cached since 47.31s ago] (12,)
2022-06-03 11:43:50,199 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,199 INFO sqlalchemy.engine.Engine [cached since 47.31s ago] (71,)
2022-06-03 11:43:50,200 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,201 INFO sqlalchemy.engine.Engine [cached since 47.31s ago] (72,)
2022-06-03 11:43:50,202 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,203 INFO sqlalchemy.engine.Engine [cached since 47.32s ago] (73,)
2022-06-03 11:43:50,204 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,204 INFO sqlalchemy.engine.Engine [cached since 47.32s ago] (74,)
2022-06-03 11:43:50,205 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,206 INFO sqlalchemy.engine.Engine [cached since 47.32s ago] (75,)
2022-06-03 11:43:50,207 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:50,208 INFO sqlalchemy.engine.Engine [cached since 47.32s ago] (12,)
2022-06-03 11:43:50,209 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:43:50,209 INFO sqlalchemy.engine.Engine [cached since 47.32s ago] (71,)
2022-06-03 11:43:50,210 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,211 INFO sqlalchemy.engine.Engine [cached since 47.32s ago] (72,)
2022-06-03 11:43:50,212 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,212 INFO sqlalchemy.engine.Engine [cached since 47.33s ago] (73,)
2022-06-03 11:43:50,214 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,214 INFO sqlalchemy.engine.Engine [cached since 47.33s ago] (74,)
2022-06-03 11:43:50,216 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,216 INFO sqlalchemy.engine.Engine [cached since 47.33s ago] (75,)
2022-06-03 11:43:50,217 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:50,217 INFO sqlalchemy.engine.Engine [cached since 47.97s ago] (76, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:50,219 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:50,439 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:50,439 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:50,440 INFO sqlalchemy.engine.Engine [cached since 48.04s ago] (77,)
2022-06-03 11:43:50,448 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:50,448 INFO sqlalchemy.engine.Engine [cached since 50.45s ago] ('Alan73.jpg',)
2022-06-03 11:43:50,450 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:50,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:50,619 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:50,621 INFO sqlalchemy.engine.Engine [cached since 50.49s ago] (77,)
2022-06-03 11:43:50,947 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:50,948 INFO sqlalchemy.engine.Engine [cached since 48.7s ago] ()
2022-06-03 11:43:50,950 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:50,950 INFO sqlalchemy.engine.Engine [cached since 48.71s ago] ()
2022-06-03 11:43:50,965 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:50,966 INFO sqlalchemy.engine.Engine [cached since 48.72s ago] (77, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:50,968 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:51,108 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:51,108 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:51,109 INFO sqlalchemy.engine.Engine [cached since 48.71s ago] (78,)
2022-06-03 11:43:51,129 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:51,130 INFO sqlalchemy.engine.Engine [cached since 51.13s ago] ('Alan74.jpg',)
2022-06-03 11:43:51,131 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:51,260 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:51,261 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:51,262 INFO sqlalchemy.engine.Engine [cached since 51.13s ago] (78,)
2022-06-03 11:43:51,539 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:51,540 INFO sqlalchemy.engine.Engine [cached since 49.3s ago] ()
2022-06-03 11:43:51,542 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:51,542 INFO sqlalchemy.engine.Engine [cached since 49.3s ago] ()
2022-06-03 11:43:51,558 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:51,559 INFO sqlalchemy.engine.Engine [cached since 49.31s ago] (78, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:51,560 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:51,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:51,766 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:51,766 INFO sqlalchemy.engine.Engine [cached since 49.36s ago] (79,)
2022-06-03 11:43:51,799 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:51,799 INFO sqlalchemy.engine.Engine [cached since 51.8s ago] ('Alan75.jpg',)
2022-06-03 11:43:51,801 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:51,990 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:51,990 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:51,991 INFO sqlalchemy.engine.Engine [cached since 51.86s ago] (79,)
2022-06-03 11:43:52,271 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:52,272 INFO sqlalchemy.engine.Engine [cached since 50.03s ago] ()
2022-06-03 11:43:52,274 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:52,275 INFO sqlalchemy.engine.Engine [cached since 50.03s ago] ()
2022-06-03 11:43:52,291 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:52,292 INFO sqlalchemy.engine.Engine [cached since 50.04s ago] (79, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:52,294 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:52,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:52,491 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:52,492 INFO sqlalchemy.engine.Engine [cached since 50.09s ago] (80,)
2022-06-03 11:43:52,508 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:52,509 INFO sqlalchemy.engine.Engine [cached since 52.51s ago] ('Alan76.jpg',)
2022-06-03 11:43:52,510 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:52,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:52,672 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:52,674 INFO sqlalchemy.engine.Engine [cached since 52.54s ago] (80,)
2022-06-03 11:43:52,987 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces

2022-06-03 11:43:52,987 INFO sqlalchemy.engine.Engine [cached since 50.74s ago] ()
2022-06-03 11:43:52,989 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:52,990 INFO sqlalchemy.engine.Engine [cached since 50.75s ago] ()
2022-06-03 11:43:53,006 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:53,006 INFO sqlalchemy.engine.Engine [cached since 50.76s ago] (80, <memory at 0x0000024CF98FE708>, 12, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:53,008 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:53,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:53,218 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:53,220 INFO sqlalchemy.engine.Engine [cached since 50.82s ago] (81,)
2022-06-03 11:43:53,225 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:53,225 INFO sqlalchemy.engine.Engine [cached since 53.23s ago] ('Alex24.jpg',)
2022-06-03 11:43:53,227 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:53,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:53,411 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:53,411 INFO sqlalchemy.engine.Engine [cached since 53.28s ago] (81,)
2022-06-03 11:43:53,685 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:53,685 INFO sqlalchemy.engine.Engine [cached since 51.44s ago] ()
2022-06-03 11:43:53,687 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:53,688 INFO sqlalchemy.engine.Engine [cached since 51.44s ago] ()
2022-06-03 11:43:53,705 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:53,706 INFO sqlalchemy.engine.Engine [cached since 51.46s ago] ()
2022-06-03 11:43:53,708 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:53,708 INFO sqlalchemy.engine.Engine [cached since 51.46s ago] (81, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:53,710 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:53,921 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:53,921 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:53,922 INFO sqlalchemy.engine.Engine [cached since 51.52s ago] (82,)
2022-06-03 11:43:53,931 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:53,932 INFO sqlalchemy.engine.Engine [cached since 53.94s ago] ('Alex28.jpg',)
2022-06-03 11:43:53,933 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:54,149 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:54,149 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:54,150 INFO sqlalchemy.engine.Engine [cached since 54.02s ago] (82,)
2022-06-03 11:43:54,468 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:54,468 INFO sqlalchemy.engine.Engine [cached since 52.22s ago] ()
2022-06-03 11:43:54,471 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:54,471 INFO sqlalchemy.engine.Engine [cached since 52.23s ago] ()
2022-06-03 11:43:54,489 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:54,489 INFO sqlalchemy.engine.Engine [cached since 51.6s ago] (13,)
2022-06-03 11:43:54,490 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:54,491 INFO sqlalchemy.engine.Engine [cached since 51.6s ago] (81,)
2022-06-03 11:43:54,492 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:54,493 INFO sqlalchemy.engine.Engine [cached since 52.25s ago] (82, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:54,494 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:54,691 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:54,691 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:54,692 INFO sqlalchemy.engine.Engine [cached since 52.29s ago] (83,)
2022-06-03 11:43:54,695 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:54,695 INFO sqlalchemy.engine.Engine [cached since 54.7s ago] ('Alex31.jpg',)
2022-06-03 11:43:54,697 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:54,911 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:54,911 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:54,912 INFO sqlalchemy.engine.Engine [cached since 54.78s ago] (83,)
2022-06-03 11:43:55,188 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:55,189 INFO sqlalchemy.engine.Engine [cached since 52.94s ago] ()
2022-06-03 11:43:55,191 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:55,192 INFO sqlalchemy.engine.Engine [cached since 52.95s ago] ()
2022-06-03 11:43:55,209 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:55,210 INFO sqlalchemy.engine.Engine [cached since 52.32s ago] (13,)
2022-06-03 11:43:55,211 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:55,211 INFO sqlalchemy.engine.Engine [cached since 52.32s ago] (81,)
2022-06-03 11:43:55,212 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:55,213 INFO sqlalchemy.engine.Engine [cached since 52.33s ago] (82,)
2022-06-03 11:43:55,214 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:43:55,214 INFO sqlalchemy.engine.Engine [cached since 52.33s ago] (13,)

2022-06-03 11:43:55,215 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:55,216 INFO sqlalchemy.engine.Engine [cached since 52.33s ago] (81,)
2022-06-03 11:43:55,216 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:55,217 INFO sqlalchemy.engine.Engine [cached since 52.33s ago] (82,)
2022-06-03 11:43:55,218 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:55,218 INFO sqlalchemy.engine.Engine [cached since 52.97s ago] (83, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:55,220 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:55,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:55,358 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:55,358 INFO sqlalchemy.engine.Engine [cached since 52.95s ago] (84,)
2022-06-03 11:43:55,366 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:55,366 INFO sqlalchemy.engine.Engine [cached since 55.37s ago] ('Alex32.jpg',)
2022-06-03 11:43:55,367 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:55,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:55,504 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:55,505 INFO sqlalchemy.engine.Engine [cached since 55.37s ago] (84,)
2022-06-03 11:43:55,818 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:55,819 INFO sqlalchemy.engine.Engine [cached since 53.57s ago] ()
2022-06-03 11:43:55,821 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:55,821 INFO sqlalchemy.engine.Engine [cached since 53.58s ago] ()
2022-06-03 11:43:55,839 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:55,840 INFO sqlalchemy.engine.Engine [cached since 53.59s ago] (84, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:55,841 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:55,985 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:55,986 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:55,986 INFO sqlalchemy.engine.Engine [cached since 53.58s ago] (85,)
2022-06-03 11:43:55,989 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:55,990 INFO sqlalchemy.engine.Engine [cached since 55.99s ago] ('Alex33.jpg',)
2022-06-03 11:43:55,991 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:56,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:56,167 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:56,167 INFO sqlalchemy.engine.Engine [cached since 56.03s ago] (85,)
2022-06-03 11:43:56,441 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:56,442 INFO sqlalchemy.engine.Engine [cached since 54.2s ago] ()
2022-06-03 11:43:56,444 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:56,445 INFO sqlalchemy.engine.Engine [cached since 54.2s ago] ()
2022-06-03 11:43:56,463 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:56,463 INFO sqlalchemy.engine.Engine [cached since 54.22s ago] (85, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:56,465 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:56,599 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:56,599 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:56,600 INFO sqlalchemy.engine.Engine [cached since 54.2s ago] (86,)
2022-06-03 11:43:56,610 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:56,610 INFO sqlalchemy.engine.Engine [cached since 56.61s ago] ('Alex34.jpg',)
2022-06-03 11:43:56,612 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:56,803 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:56,804 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:56,805 INFO sqlalchemy.engine.Engine [cached since 56.67s ago] (86,)
2022-06-03 11:43:57,132 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:57,133 INFO sqlalchemy.engine.Engine [cached since 54.89s ago] ()
2022-06-03 11:43:57,135 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:57,135 INFO sqlalchemy.engine.Engine [cached since 54.89s ago] ()
2022-06-03 11:43:57,153 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:57,153 INFO sqlalchemy.engine.Engine [cached since 54.91s ago] (86, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:57,155 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:57,318 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:57,319 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:57,319 INFO sqlalchemy.engine.Engine [cached since 54.92s ago] (87,)
2022-06-03 11:43:57,323 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:57,323 INFO sqlalchemy.engine.Engine [cached since 57.33s ago] ('Alex36.jpg',)
2022-06-03 11:43:57,325 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:57,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:57,509 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:57,510 INFO sqlalchemy.engine.Engine [cached since 57.38s ago] (87,)
2022-06-03 11:43:57,782 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:57,782 INFO sqlalchemy.engine.Engine [cached since 55.54s ago] ()
2022-06-03 11:43:57,785 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:57,785 INFO sqlalchemy.engine.Engine [cached since 55.54s ago] ()
2022-06-03 11:43:57,803 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)

2022-06-03 11:43:57,804 INFO sqlalchemy.engine.Engine [cached since 55.56s ago] (87, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:57,806 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:58,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:58,008 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:58,009 INFO sqlalchemy.engine.Engine [cached since 55.61s ago] (88,)
2022-06-03 11:43:58,014 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:58,015 INFO sqlalchemy.engine.Engine [cached since 58.02s ago] ('Alex37.jpg',)
2022-06-03 11:43:58,016 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:58,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:58,168 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:58,170 INFO sqlalchemy.engine.Engine [cached since 58.04s ago] (88,)
2022-06-03 11:43:58,471 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:58,472 INFO sqlalchemy.engine.Engine [cached since 56.23s ago] ()
2022-06-03 11:43:58,475 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:58,475 INFO sqlalchemy.engine.Engine [cached since 56.23s ago] ()
2022-06-03 11:43:58,494 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:58,494 INFO sqlalchemy.engine.Engine [cached since 56.25s ago] (88, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:58,496 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:58,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:58,674 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:58,674 INFO sqlalchemy.engine.Engine [cached since 56.27s ago] (89,)
2022-06-03 11:43:58,678 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:58,678 INFO sqlalchemy.engine.Engine [cached since 58.68s ago] ('Alex39.jpg',)
2022-06-03 11:43:58,679 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:58,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:58,865 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:58,866 INFO sqlalchemy.engine.Engine [cached since 58.73s ago] (89,)
2022-06-03 11:43:59,134 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:59,135 INFO sqlalchemy.engine.Engine [cached since 56.89s ago] ()
2022-06-03 11:43:59,137 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:59,138 INFO sqlalchemy.engine.Engine [cached since 56.89s ago] ()
2022-06-03 11:43:59,156 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:59,157 INFO sqlalchemy.engine.Engine [cached since 56.91s ago] (89, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:59,158 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:59,354 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:59,355 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:43:59,356 INFO sqlalchemy.engine.Engine [cached since 56.95s ago] (90,)
2022-06-03 11:43:59,360 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:43:59,361 INFO sqlalchemy.engine.Engine [cached since 59.36s ago] ('Alex40.jpg',)
2022-06-03 11:43:59,363 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:43:59,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:43:59,573 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:43:59,575 INFO sqlalchemy.engine.Engine [cached since 59.44s ago] (90,)
2022-06-03 11:43:59,870 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:59,871 INFO sqlalchemy.engine.Engine [cached since 57.63s ago] ()
2022-06-03 11:43:59,873 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:43:59,873 INFO sqlalchemy.engine.Engine [cached since 57.63s ago] ()
2022-06-03 11:43:59,891 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:43:59,892 INFO sqlalchemy.engine.Engine [cached since 57.65s ago] (90, <memory at 0x0000024CF98FE708>, 13, <memory at 0x0000024CF98FE948>)
2022-06-03 11:43:59,893 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:00,129 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:00,131 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:00,133 INFO sqlalchemy.engine.Engine [cached since 57.73s ago] (91,)
2022-06-03 11:44:00,159 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:00,159 INFO sqlalchemy.engine.Engine [cached since 60.16s ago] ('Alexandra31.jpg',)
2022-06-03 11:44:00,161 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:00,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:00,346 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:00,346 INFO sqlalchemy.engine.Engine [cached since 60.21s ago] (91,)
2022-06-03 11:44:00,623 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:00,623 INFO sqlalchemy.engine.Engine [cached since 58.38s ago] ()
2022-06-03 11:44:00,625 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:00,626 INFO sqlalchemy.engine.Engine [cached since 58.38s ago] ()
2022-06-03 11:44:00,645 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:00,645 INFO sqlalchemy.engine.Engine [cached since 58.4s ago] ()
2022-06-03 11:44:00,647 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:00,648 INFO sqlalchemy.engine.Engine [cached since 58.4s ago] (91, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:00,649 INFO sqlalchemy.engine.Engine COMMIT

2022-06-03 11:44:00,845 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:00,846 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:00,846 INFO sqlalchemy.engine.Engine [cached since 58.44s ago] (92,)
2022-06-03 11:44:00,849 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:00,849 INFO sqlalchemy.engine.Engine [cached since 60.85s ago] ('Alexandra33.jpg',)
2022-06-03 11:44:00,850 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:01,053 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:01,056 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:01,058 INFO sqlalchemy.engine.Engine [cached since 60.93s ago] (92,)
2022-06-03 11:44:01,333 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:01,334 INFO sqlalchemy.engine.Engine [cached since 59.09s ago] ()
2022-06-03 11:44:01,335 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:01,335 INFO sqlalchemy.engine.Engine [cached since 59.09s ago] ()
2022-06-03 11:44:01,356 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:01,356 INFO sqlalchemy.engine.Engine [cached since 58.47s ago] (14,)
2022-06-03 11:44:01,358 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:01,358 INFO sqlalchemy.engine.Engine [cached since 58.47s ago] (91,)
2022-06-03 11:44:01,359 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:01,360 INFO sqlalchemy.engine.Engine [cached since 59.11s ago] (92, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:01,362 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:01,595 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:01,596 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:01,596 INFO sqlalchemy.engine.Engine [cached since 59.19s ago] (93,)
2022-06-03 11:44:01,607 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:01,607 INFO sqlalchemy.engine.Engine [cached since 61.61s ago] ('Alexandra39.jpg',)
2022-06-03 11:44:01,609 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:01,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:01,821 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:01,822 INFO sqlalchemy.engine.Engine [cached since 61.69s ago] (93,)
2022-06-03 11:44:02,154 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:02,154 INFO sqlalchemy.engine.Engine [cached since 59.91s ago] ()
2022-06-03 11:44:02,157 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:02,157 INFO sqlalchemy.engine.Engine [cached since 59.91s ago] ()
2022-06-03 11:44:02,177 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:02,178 INFO sqlalchemy.engine.Engine [cached since 59.29s ago] (14,)
2022-06-03 11:44:02,179 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:02,180 INFO sqlalchemy.engine.Engine [cached since 59.29s ago] (91,)
2022-06-03 11:44:02,182 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:02,182 INFO sqlalchemy.engine.Engine [cached since 59.29s ago] (92,)
2022-06-03 11:44:02,183 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:02,184 INFO sqlalchemy.engine.Engine [cached since 59.3s ago] (14,)
2022-06-03 11:44:02,185 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:02,185 INFO sqlalchemy.engine.Engine [cached since 59.3s ago] (91,)
2022-06-03 11:44:02,186 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:02,187 INFO sqlalchemy.engine.Engine [cached since 59.3s ago] (92,)
2022-06-03 11:44:02,188 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:02,189 INFO sqlalchemy.engine.Engine [cached since 59.94s ago] (93, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:02,190 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:02,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:02,429 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:02,430 INFO sqlalchemy.engine.Engine [cached since 60.03s ago] (94,)
2022-06-03 11:44:02,450 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:02,450 INFO sqlalchemy.engine.Engine [cached since 62.45s ago] ('Alexandra41.jpg',)
2022-06-03 11:44:02,452 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:02,598 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:02,601 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:02,603 INFO sqlalchemy.engine.Engine [cached since 62.47s ago] (94,)
2022-06-03 11:44:02,885 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:02,886 INFO sqlalchemy.engine.Engine [cached since 60.64s ago] ()
2022-06-03 11:44:02,888 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:02,889 INFO sqlalchemy.engine.Engine [cached since 60.64s ago] ()
2022-06-03 11:44:02,908 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:02,909 INFO sqlalchemy.engine.Engine [cached since 60.66s ago] (94, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:02,911 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:03,123 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:03,126 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?

2022-06-03 11:44:03,128 INFO sqlalchemy.engine.Engine [cached since 60.73s ago] (95,)
2022-06-03 11:44:03,191 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:03,192 INFO sqlalchemy.engine.Engine [cached since 63.2s ago] ('Alexandra42.jpg',)
2022-06-03 11:44:03,194 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:03,380 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:03,380 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:03,381 INFO sqlalchemy.engine.Engine [cached since 63.25s ago] (95,)
2022-06-03 11:44:03,684 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:03,684 INFO sqlalchemy.engine.Engine [cached since 61.44s ago] ()
2022-06-03 11:44:03,687 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:03,687 INFO sqlalchemy.engine.Engine [cached since 61.44s ago] ()
2022-06-03 11:44:03,708 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:03,708 INFO sqlalchemy.engine.Engine [cached since 61.46s ago] (95, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:03,710 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:03,920 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:03,920 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:03,921 INFO sqlalchemy.engine.Engine [cached since 61.52s ago] (96,)
2022-06-03 11:44:03,997 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:03,997 INFO sqlalchemy.engine.Engine [cached since 64s ago] ('Alexandra43.jpg',)
2022-06-03 11:44:03,999 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:04,190 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:04,191 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:04,192 INFO sqlalchemy.engine.Engine [cached since 64.06s ago] (96,)
2022-06-03 11:44:04,522 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:04,522 INFO sqlalchemy.engine.Engine [cached since 62.28s ago] ()
2022-06-03 11:44:04,525 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:04,525 INFO sqlalchemy.engine.Engine [cached since 62.28s ago] ()
2022-06-03 11:44:04,545 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:04,546 INFO sqlalchemy.engine.Engine [cached since 62.3s ago] (96, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:04,547 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:04,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:04,766 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:04,767 INFO sqlalchemy.engine.Engine [cached since 62.36s ago] (97,)
2022-06-03 11:44:04,771 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:04,771 INFO sqlalchemy.engine.Engine [cached since 64.78s ago] ('Alexandra44.jpg',)
2022-06-03 11:44:04,773 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:04,967 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:04,968 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:04,968 INFO sqlalchemy.engine.Engine [cached since 64.84s ago] (97,)
2022-06-03 11:44:05,254 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:05,255 INFO sqlalchemy.engine.Engine [cached since 63.01s ago] ()
2022-06-03 11:44:05,257 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:05,258 INFO sqlalchemy.engine.Engine [cached since 63.01s ago] ()
2022-06-03 11:44:05,277 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:05,277 INFO sqlalchemy.engine.Engine [cached since 63.03s ago] (97, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:05,279 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:05,462 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:05,462 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:05,463 INFO sqlalchemy.engine.Engine [cached since 63.06s ago] (98,)
2022-06-03 11:44:05,477 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:05,478 INFO sqlalchemy.engine.Engine [cached since 65.48s ago] ('Alexandra45.jpg',)
2022-06-03 11:44:05,479 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:05,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:05,681 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:05,683 INFO sqlalchemy.engine.Engine [cached since 65.55s ago] (98,)
2022-06-03 11:44:05,978 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:05,978 INFO sqlalchemy.engine.Engine [cached since 63.73s ago] ()
2022-06-03 11:44:05,980 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:05,981 INFO sqlalchemy.engine.Engine [cached since 63.74s ago] ()
2022-06-03 11:44:06,001 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:06,002 INFO sqlalchemy.engine.Engine [cached since 63.76s ago] (98, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:06,003 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:06,212 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:06,213 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:06,213 INFO sqlalchemy.engine.Engine [cached since 63.81s ago] (99,)
2022-06-03 11:44:06,225 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:06,225 INFO sqlalchemy.engine.Engine [cached since 66.23s ago] ('Alexandra46.jpg',)
2022-06-03 11:44:06,227 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:06,370 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:06,370 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:44:06,371 INFO sqlalchemy.engine.Engine [cached since 66.24s ago] (99,)
2022-06-03 11:44:06,653 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:06,653 INFO sqlalchemy.engine.Engine [cached since 64.41s ago] ()
2022-06-03 11:44:06,655 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:06,656 INFO sqlalchemy.engine.Engine [cached since 64.41s ago] ()
2022-06-03 11:44:06,676 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:06,676 INFO sqlalchemy.engine.Engine [cached since 64.43s ago] (99, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:06,678 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:06,820 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:06,821 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:06,822 INFO sqlalchemy.engine.Engine [cached since 64.42s ago] (100,)
2022-06-03 11:44:06,837 INFO sqlalchemy.engine.Engine INSERT INTO images (name) VALUES (?)
2022-06-03 11:44:06,838 INFO sqlalchemy.engine.Engine [cached since 66.84s ago] ('Alexandra47.jpg',)
2022-06-03 11:44:06,839 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:07,040 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:07,042 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:07,044 INFO sqlalchemy.engine.Engine [cached since 66.91s ago] (100,)
2022-06-03 11:44:07,332 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:07,333 INFO sqlalchemy.engine.Engine [cached since 65.09s ago] ()
2022-06-03 11:44:07,335 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:07,335 INFO sqlalchemy.engine.Engine [cached since 65.09s ago] ()
2022-06-03 11:44:07,356 INFO sqlalchemy.engine.Engine INSERT INTO faces (image_id, faces, person_id, locations) VALUES (?, ?, ?, ?)
2022-06-03 11:44:07,356 INFO sqlalchemy.engine.Engine [cached since 65.11s ago] (100, <memory at 0x0000024CF98FE708>, 14, <memory at 0x0000024CF98FE948>)
2022-06-03 11:44:07,358 INFO sqlalchemy.engine.Engine COMMIT
2022-06-03 11:44:07,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-03 11:44:07,532 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.id = ?
2022-06-03 11:44:07,533 INFO sqlalchemy.engine.Engine [cached since 65.13s ago] (101,)
--- 67.55433559417725 seconds ---

In [7]:
Unique()

2022-06-03 11:44:53,235 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:53,235 INFO sqlalchemy.engine.Engine [cached since 111s ago] ()

14

# Get list of images names with same persons

In [8]:
faces=same_faces(range(1,Unique()+1))
faces

2022-06-03 11:44:56,939 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
2022-06-03 11:44:56,940 INFO sqlalchemy.engine.Engine [cached since 114.7s ago] ()
2022-06-03 11:44:56,943 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:56,943 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (1,)
2022-06-03 11:44:56,945 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,946 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (1,)
2022-06-03 11:44:56,947 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,948 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (2,)
2022-06-03 11:44:56,949 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,950 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (3,)
2022-06-03 11:44:56,951 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,951 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (4,)
2022-06-03 11:44:56,953 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,953 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (5,)
2022-06-03 11:44:56,955 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,955 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (6,)
2022-06-03 11:44:56,957 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,957 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (7,)
2022-06-03 11:44:56,958 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,959 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (8,)
2022-06-03 11:44:56,960 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,960 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (9,)
2022-06-03 11:44:56,962 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:56,962 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (2,)
2022-06-03 11:44:56,963 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,964 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (10,)
2022-06-03 11:44:56,965 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:56,965 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (3,)
2022-06-03 11:44:56,967 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,967 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (11,)
2022-06-03 11:44:56,968 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,968 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (13,)
2022-06-03 11:44:56,970 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,970 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (14,)
2022-06-03 11:44:56,971 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,972 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (15,)
2022-06-03 11:44:56,972 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,972 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (17,)
2022-06-03 11:44:56,973 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,975 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (18,)
2022-06-03 11:44:56,976 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,976 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (19,)
2022-06-03 11:44:56,977 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,978 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (20,)
2022-06-03 11:44:56,979 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:56,979 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (4,)
2022-06-03 11:44:56,981 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,981 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (12,)
2022-06-03 11:44:56,983 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:56,983 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (5,)
2022-06-03 11:44:56,984 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,985 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (16,)
2022-06-03 11:44:56,986 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:56,986 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (6,)
2022-06-03 11:44:56,988 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,988 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (21,)
2022-06-03 11:44:56,989 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,989 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (22,)
2022-06-03 11:44:56,990 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,991 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (23,)
2022-06-03 11:44:56,992 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,993 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (24,)
2022-06-03 11:44:56,994 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,995 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (25,)
2022-06-03 11:44:56,996 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:44:56,996 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (26,)
2022-06-03 11:44:56,997 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,998 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (27,)
2022-06-03 11:44:56,999 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:56,999 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (28,)
2022-06-03 11:44:57,000 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,000 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (29,)
2022-06-03 11:44:57,001 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,002 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (30,)
2022-06-03 11:44:57,003 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,003 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (7,)
2022-06-03 11:44:57,005 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,006 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (31,)
2022-06-03 11:44:57,007 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,007 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (32,)
2022-06-03 11:44:57,008 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,008 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (33,)
2022-06-03 11:44:57,010 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,010 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (34,)
2022-06-03 11:44:57,011 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,011 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (35,)
2022-06-03 11:44:57,012 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,012 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (36,)
2022-06-03 11:44:57,013 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,014 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (37,)
2022-06-03 11:44:57,015 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,015 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (38,)
2022-06-03 11:44:57,016 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,016 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (39,)
2022-06-03 11:44:57,017 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,018 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (40,)
2022-06-03 11:44:57,019 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,019 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (8,)
2022-06-03 11:44:57,020 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,020 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (41,)
2022-06-03 11:44:57,022 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,022 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (42,)
2022-06-03 11:44:57,023 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,023 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (43,)
2022-06-03 11:44:57,025 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,025 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (44,)
2022-06-03 11:44:57,026 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,026 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (45,)
2022-06-03 11:44:57,027 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,028 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (46,)
2022-06-03 11:44:57,029 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,029 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (47,)
2022-06-03 11:44:57,030 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,030 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (48,)
2022-06-03 11:44:57,031 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,031 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (49,)
2022-06-03 11:44:57,032 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,033 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (50,)
2022-06-03 11:44:57,034 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,034 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (9,)
2022-06-03 11:44:57,035 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,035 INFO sqlalchemy.engine.Engine [cached since 114.1s ago] (49,)
2022-06-03 11:44:57,036 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,036 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (10,)
2022-06-03 11:44:57,038 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,038 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (51,)
2022-06-03 11:44:57,039 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,040 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (52,)
2022-06-03 11:44:57,041 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,041 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (53,)
2022-06-03 11:44:57,042 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,043 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (54,)
2022-06-03 11:44:57,044 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:44:57,044 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (55,)
2022-06-03 11:44:57,045 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,046 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (56,)
2022-06-03 11:44:57,046 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,047 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (57,)
2022-06-03 11:44:57,048 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,048 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (58,)
2022-06-03 11:44:57,049 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,050 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (59,)
2022-06-03 11:44:57,051 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,051 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (60,)
2022-06-03 11:44:57,052 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,052 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (11,)
2022-06-03 11:44:57,053 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,054 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (61,)
2022-06-03 11:44:57,055 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,055 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (62,)
2022-06-03 11:44:57,056 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,057 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (63,)
2022-06-03 11:44:57,058 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,058 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (64,)
2022-06-03 11:44:57,059 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,060 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (65,)
2022-06-03 11:44:57,060 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,061 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (66,)
2022-06-03 11:44:57,062 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,062 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (67,)
2022-06-03 11:44:57,063 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,064 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (68,)
2022-06-03 11:44:57,064 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,065 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (69,)
2022-06-03 11:44:57,066 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,066 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (70,)
2022-06-03 11:44:57,067 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,068 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (12,)
2022-06-03 11:44:57,069 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,069 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (71,)
2022-06-03 11:44:57,070 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,070 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (72,)
2022-06-03 11:44:57,072 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,072 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (73,)
2022-06-03 11:44:57,073 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,073 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (74,)
2022-06-03 11:44:57,074 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,075 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (75,)
2022-06-03 11:44:57,076 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,076 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (76,)
2022-06-03 11:44:57,077 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,077 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (77,)
2022-06-03 11:44:57,078 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,079 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (78,)
2022-06-03 11:44:57,080 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,080 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (79,)
2022-06-03 11:44:57,081 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,081 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (80,)
2022-06-03 11:44:57,082 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,082 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (13,)
2022-06-03 11:44:57,083 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,084 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (81,)
2022-06-03 11:44:57,085 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,085 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (82,)
2022-06-03 11:44:57,086 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,086 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (83,)
2022-06-03 11:44:57,087 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,088 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (84,)
2022-06-03 11:44:57,089 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,089 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (85,)
2022-06-03 11:44:57,090 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?

2022-06-03 11:44:57,091 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (86,)
2022-06-03 11:44:57,092 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,092 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (87,)
2022-06-03 11:44:57,093 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,093 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (88,)
2022-06-03 11:44:57,094 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,095 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (89,)
2022-06-03 11:44:57,096 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,096 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (90,)
2022-06-03 11:44:57,097 INFO sqlalchemy.engine.Engine SELECT faces.id AS faces_id, faces.image_id AS faces_image_id, faces.faces AS faces_faces, faces.person_id AS faces_person_id, faces.locations AS faces_locations
FROM faces
WHERE faces.person_id = ?
2022-06-03 11:44:57,097 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (14,)
2022-06-03 11:44:57,098 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,099 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (91,)
2022-06-03 11:44:57,100 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,100 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (92,)
2022-06-03 11:44:57,101 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,101 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (93,)
2022-06-03 11:44:57,102 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,102 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (94,)
2022-06-03 11:44:57,103 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,104 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (95,)
2022-06-03 11:44:57,105 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,106 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (96,)
2022-06-03 11:44:57,106 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,107 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (97,)
2022-06-03 11:44:57,108 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,108 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (98,)
2022-06-03 11:44:57,109 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,109 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (99,)
2022-06-03 11:44:57,110 INFO sqlalchemy.engine.Engine SELECT images.id AS images_id, images.name AS images_name
FROM images
WHERE images.id = ?
2022-06-03 11:44:57,111 INFO sqlalchemy.engine.Engine [cached since 114.2s ago] (100,)

{1: ['Aaron0.jpg',
  'Aaron10.jpg',
  'Aaron12.jpg',
  'Aaron13.jpg',
  'Aaron3.jpg',
  'Aaron4.jpg',
  'Aaron6.jpg',
  'Aaron7.jpg',
  'Aaron8.jpg'],
 2: ['Aaron9.jpg'],
 3: ['AaronTylor12.jpg',
  'AaronTylor15.jpg',
  'AaronTylor16.jpg',
  'AaronTylor19.jpg',
  'AaronTylor22.jpg',
  'AaronTylor24.jpg',
  'AaronTylor25.jpg',
  'AaronTylor26.jpg'],
 4: ['AaronTylor13.jpg'],
 5: ['AaronTylor21.jpg'],
 6: ['Abigail1.jpg',
  'Abigail10.jpg',
  'Abigail11.jpg',
  'Abigail13.jpg',
  'Abigail3.jpg',
  'Abigail4.jpg',
  'Abigail5.jpg',
  'Abigail6.jpg',
  'Abigail7.jpg',
  'Abigail9.jpg'],
 7: ['Adele10.jpg',
  'Adele12.jpg',
  'Adele17.jpg',
  'Adele22.jpg',
  'Adele25.jpg',
  'Adele28.jpg',
  'Adele32.jpg',
  'Adele36.jpg',
  'Adele37.jpg',
  'Adele9.jpg'],
 8: ['Adrein10.jpg',
  'Adrein11.jpg',
  'Adrein12.jpg',
  'Adrein15.jpg',
  'Adrein16.jpg',
  'Adrein18.jpg',
  'Adrein22.jpg',
  'Adrein23.jpg',
  'Adrein25.jpg',
  'Adrein26.jpg'],
 9: ['Adrein25.jpg'],
 10: ['Adriana11.jpg',
  'Adriana12.jpg',
  'Adriana13.jpg',
  'Adriana18.jpg',
  'Adriana19.jpg',
  'Adriana21.jpg',
  'Adriana22.jpg',
  'Adriana23.jpg',
  'Adriana24.jpg',
  'Adriana9.jpg'],
 11: ['Adrianne44.jpg',
  'Adrianne45.jpg',
  'Adrianne46.jpg',
  'Adrianne47.jpg',
  'Adrianne48.jpg',
  'Adrianne49.jpg',
  'Adrianne50.jpg',
  'Adrianne51.jpg',
  'Adrianne52.jpg',
  'Adrianne53.jpg'],
 12: ['Alan63.jpg',
  'Alan64.jpg',
  'Alan65.jpg',
  'Alan67.jpg',
  'Alan69.jpg',
  'Alan70.jpg',
  'Alan73.jpg',
  'Alan74.jpg',
  'Alan75.jpg',
  'Alan76.jpg'],
 13: ['Alex24.jpg',
  'Alex28.jpg',
  'Alex31.jpg',
  'Alex32.jpg',
  'Alex33.jpg',
  'Alex34.jpg',
  'Alex36.jpg',
  'Alex37.jpg',
  'Alex39.jpg',
  'Alex40.jpg'],
 14: ['Alexandra31.jpg',
  'Alexandra33.jpg',
  'Alexandra39.jpg',
  'Alexandra41.jpg',
  'Alexandra42.jpg',
  'Alexandra43.jpg',
  'Alexandra44.jpg',
  'Alexandra45.jpg',
  'Alexandra46.jpg',
  'Alexandra47.jpg']}

In [9]:
Total=0
for key in faces:
    Total+=len(faces[key])
    
Total

101

# Visualize Based on Person_id

In [11]:
person_id=1
path='Data/'

for img in faces[person_id]:   
    Path= path+img  
    image = cv2.imread(Path)
    cv2.imshow('1',image)
    cv2.waitKey(500)
    cv2.destroyAllWindows()

#  Filter based on total images that contain a same person

In [12]:
counter=0

for key in faces:
    if len(faces[key])<2:
        #print(key)
        counter+=1

print(counter)

4

# Copying Images from main directory to folders with person id as a name

In [13]:
source="Data/"
destination="Celeb_v1/"

import shutil

for key in faces:
    
    path= destination + str(key)
    
    if len(faces[key])>2:
    
        os.mkdir(path)

        for file in faces[key]:

            source1 = source +file

            destination1 = path+"/"+file

            shutil.copy(source1, destination1)

# Draw Bounding Boxes and Visualize

In [ ]:
for i in range(1,Unique()+1):
    for face in session.query(Faces).filter(Faces.person_id == i):
        location=face.locations
        person_id=face.person_id
        for img in session.query(Images).all():
            if img.id==face.image_id and person_id==i :#and img.name=='427cd511-da04-4d18-8dcc-0359a327b4d7.jpg':

                image=cv2.imread('Data/'+img.name) 

                size=image.shape

                if (size[0]>1500 or size[1]>1500):
                    (y1,x2,y2,x1)=convert_array(location) 
                    x1=int(x1*4) 
                    y1=int(y1*4)
                    x2=int(x2*4)
                    y2=int(y2*4)
                elif (size[0]>1000 or size[1]>1000):
                    (y1,x2,y2,x1)=convert_array(location)
                    x1=int(x1*2) 
                    y1=int(y1*2)
                    x2=int(x2*2)
                    y2=int(y2*2)
                elif (size[0]>750 and size[1]>750):
                    (y1,x2,y2,x1)=convert_array(location)  
                    x1=int(x1*1.34) 
                    y1=int(y1*1.34)
                    x2=int(x2*1.34)
                    y2=int(y2*1.34)
                else:
                    (y1,x2,y2,x1)=convert_array(location)


                #(y1,x2,y2,x1)=convert_array(location)

                cv2.rectangle(image, (x1, y1), (x2, y2), (0, 0, 255), 2)
                cv2.putText(image, str(person_id), (x1+ 6, y1- 6), cv2.FONT_HERSHEY_DUPLEX, 1.0, (0, 0, 255), 2)
                
                #if len(faces[person_id])>3:
                       
                 #   cv2.imwrite("Celeb_v1/Good/"+str(person_id)+"/"+img.name,image)
                       
                if len(faces[person_id])>2:
                         
                    #cv2.imwrite("Celeb_v1/Bad/"+str(person_id)+"/"+img.name,image)

                    cv2.imshow(str(i),image)
                    cv2.waitKey(1000)
                    cv2.destroyAllWindows()

                break

        #break